<style>
    .lgt-page-header,
    .nav-tabs, #generateInvoice, #generateDelivery, .productGroupCode {
        display: none;
    }

	.nav-tabs-custom>.tab-content {
		background: #eee;
		border: navajowhite;
	}

</style>

<div class="animated fadeIn hv-edit-order-item-page">

	<div class="">
		<div class="lgt-left-part">
			<h3 class="lgt-page-name">Generate Invoice</h3>
			<p class="lgt-page-description">{{title}}</p>
		</div>
	</div>

    <div class="block-status card-body">
        <form class="form-horizontal group-border-dashed" ng-submit="quotationFormSubmit($event)" ng-model="formData">
            <div class="lgt-back">
                <a href="" ui-sref="app.orders.order.product">
                    <i class="fa fa-arrow-circle-left"></i> back to Order Detail
                </a>
                <button type="button" ng-click="invoiceConfirmModal()" class="btn btn-primary btSave">Generate</button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="search-table-left col-sm-7">
                        <div class="form-group">
                            <label class="col-sm-3 text-left control-label">Quotation No:</label>
                            <div class="col-sm-7">
                                <div class="input-group form-control-event-setup">
                                    <p>{{data[0].quoteCode}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 text-left control-label">Type:</label>
                            <div class="col-sm-7">
                                <div class="input-group form-control-event-setup">
                                    <p>Request a copy: Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-table-right col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-5 text-left control-label">Valid Date:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" value="{{ curr_date | date:'dd-MM-yyyy'}}" disabled/>
                                <span></span>
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 text-left control-label">Valid Until:</label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control" name="status" ng-model="formData.valid_until" />
                                <span>
                                    <i>default is 60 days</i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-if="formData.option_value == 5">
                            <label class="col-sm-5 text-left control-label">Send Date</label>
                            <div class="col-sm-7">
                                <label class="text-left control-label">18-Nov-18</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="successModal" class="modal successModal">
                <!-- Modal content -->
                <div class="modal-content">

                    <div class="modal-header">
                        <span data-dismiss="modal" class="close">&times;</span>
                        <h3>Confirmation</h3>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to generate invoice?
                    </div>
                    <div class="modal-footer">
                        <div class="row flexbox fe-footer-row">
                            <input type="submit" class="btn btn-primary" value="Confirm" ng-disabled="isDisable">
                            <a data-dismiss="modal" class="btn cancel-btn">Cancel</a>

                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div ng-repeat="quote in data">
            <div class="bundle_header">
                <span class="pull-right">Count: {{quote.orderItems.length}}</span>
                Quote No - {{quote.quoteCode}}
            </div>

            <div id="quotation-{{$index}}">
                <div class="block-compilation">
                    <div class="block-compilation-content">
                        <div class="block-item-detail">
                            <div class="card-body">
                                <div class="hv-box-item-detail" ng-repeat="item in quote.orderItems | orderBy:'ItemCode'">
                                    <br ng-if="$index>0" />
                                    <div class="lgt-box-header">
                                        <h6 class="text-uppercase lgt-box-name">
                                            #{{$index+1}}
                                            {{item.Description}}
                                        </h6>
                                    </div>
                                    <div class="lgt-box-main">
                                        <table class="lgt-tbl" ng-show="status_c || status_p">
                                            <tr>
                                                <th class="lgt-td-key">Item Code:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.ItemCode}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="lgt-td-key">Source UUID:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.UUID}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="lgt-td-key">Source No.:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.SourceNo}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="lgt-td-key">Recorded Title:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.SourceTitle}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="lgt-td-key">Format:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.Format}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-if="item.Format == 'MP3' || item.Format == 'MP4' || item.Format == 'MxF'">
                                                <th class="lgt-td-key">Selected Time:</th>
                                                <td class="lgt-td-value">
                                                    <span class="normal text-muted">
                                                        {{item.ActualStartTime | secondsToDateTime | date : 'HH:mm:ss'}} - {{item.ActualEndTime | secondsToDateTime | date : 'HH:mm:ss'}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr ng-if="item.Format == 'MP3' || item.Format == 'MP4' || item.Format == 'MxF'">
                                                <th class="lgt-td-key">Total Duration:</th>
                                                <td class="lgt-td-value">
                                                    <span class="normal text-muted">
                                                        {{item.ActualDuration }} second(s)
                                                    </span>
                                                </td>
                                            </tr>

                                            <tr ng-if="item.Format == 'PDF'">
                                                <th class="lgt-td-key">Selected Pages:</th>
                                                <td class="lgt-td-value">
                                                    <span class="normal text-muted">
                                                        {{item.ActualPages}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr ng-if="item.Format == 'PDF'">
                                                <th class="lgt-td-key">Total Pages:</th>
                                                <td class="lgt-td-value">
                                                    <span class="normal text-muted">
                                                        {{item.ActualTotalPages }} pages(s)
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="lgt-tbl" ng-show="status_s">
                                            <tr>
                                                <th class="lgt-td-key">Name of School:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.SchoolName}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="lgt-td-key">Year of Study:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.SearchFromYear}} - {{item.SearchToYear}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="lgt-tbl" ng-show="status_m">
                                            <tr>
                                                <th class="lgt-td-key">Name of Husband:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.HusbandName}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="lgt-td-key">Name of Wife:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.WifeName}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="lgt-td-key">Date of Marriage:</th>
                                                <td class="lgt-td-value">
                                                    <span>{{item.SearchFromDate | date:'dd-MM-yyyy'}} - {{item.SearchToDate | date:'dd-MM-yyyy'}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="block-payment-detail">
                            <div class="card-body">
                                <div class="lgt-box-header">
                                    <h6 class="lgt-box-name">INVOICE DETAILS</h6>
                                </div>
                                <div class="lgt-box-main">
                                    <table class="lgt-tbl">
                                        <tr ng-repeat="price in quote.bundlePrices">
                                            <th class="lgt-td-key" style="width:auto;">
                                                {{price.description}}:
                                                <div>
                                                    <div class="text-right small text-muted clearfix" ng-repeat="orderCode in price.orderCodes | orderBy:'toString()' " style="line-height:2">
                                                        {{orderCode}}
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="lgt-td-value" style="vertical-align:top">
                                                <span>{{price.amount | currency}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="price in quote.itemPrices">
                                            <th class="lgt-td-key" style="width:auto;">
                                                {{price.description}}:
                                                <div>
                                                    <div class="text-right small text-muted clearfix" ng-repeat="orderCode in price.orderCodes | orderBy:'toString()' " style="line-height:2">
                                                        {{orderCode}}
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="lgt-td-value" style="vertical-align:top">
                                                <span>{{price.amount | currency}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="price in quote.groupPrices">
                                            <th class="lgt-td-key" style="width:auto;">
                                                {{price.description}}:
                                                <div>
                                                    <div class="text-right small text-muted clearfix" ng-repeat="aano in price.orderItemAA track by $index" style="line-height:2">
                                                        {{aano}}
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="lgt-td-value" style="vertical-align:top">
                                                <span>{{price.amount | currency}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key" style="width:auto;">GST 7%:</th>
                                            <td class="lgt-td-value" style="vertical-align:top">
                                                <span>{{quote.gst | currency}}</span> <!-- + item.AAFeeGST -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key total" style="width:auto;">Total w/GST (SGD):</th>
                                            <td class="lgt-td-value" style="vertical-align:top">
                                                <span>{{quote.totalAmount  | currency}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>