<div class="modal-header">
	<h3 style="float: left;font-size: 20px;">Input Discount</h3>
	<i style="color: #1b8eb7;font-size: 30px;float:right;" class="zmdi zmdi-close-circle" ng-click="cancel()"></i>
</div>
<div class="modal-body" style="text-align: center;">
	<div class="form-group" style="margin-top: 15px;">
		<label class="col-sm-5 text-left control-label">Discount Code:</label>
		<div class="col-sm-7">
			<input class="form-control" type="text" placeholder="DIS_Value10">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 text-left control-label">Discount Value:</label>
		<div class="col-sm-7" style="text-align: left;">
			<p>S$10.00</p>
		</div>
	</div>
</div>
<div class="modal-footer" style="margin: auto;border: none;">
	<button class="btn btn-defaulf" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="ok()">Apply</button>
</div>