<style>
	tr {
		text-align: left;
	}
	th, td {
		padding-left: 10px !important;
	}
</style>

<div class="animated fadeIn hv-edit-order-item-page" ng-controller="NotificationCtrl">
	<div style="height: 50px;">
		<div class="pull-left">
			<h3 class="lgt-page-name">Email Notification</h3>
		</div>
		<div class="pull-right">
			<button style="background: #3c8dbc;color: #fff;" class="btn btn-submit">Setup Remainder</button>
			<button style="background: #3c8dbc;color: #fff;" class="btn btn-submit">Setup Department Email</button>
		</div>
	</div>

	<!-- form search notification -->
	<div class="accordion" id="lgt-search-filter">
		<div class="card">
			<div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#lgt-search-filter-main" aria-expanded="false"
			  aria-controls="lgt-search-filter-main">
				<i class="zmdi zmdi-window-minimize"></i>
				<h5 class="mb-0 text-center">
					<button class="btn btn-link collapsed" type="button">
						Search Filter
					</button>
				</h5>
			</div>
			<div id="lgt-search-filter-main" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<form class="form-horizontal group-border-dashed" action="#" novalidate="" method="post">
						<div class="container">

							<div class="row">
								<div>
									<div class="form-group">
										<label class="col-sm-3 text-left control-label" style="flex: 0 0 15%;">Filter by Type</label>
										<div class="col-sm-4">
											<input type="text" class="form-control form-control-event-setup" required="" parsley-type="email" placeholder="" data-parsley-id="40">
										</div>
										<label class="col-sm-3 text-left control-label">Filter by Subject Format</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" required="" placeholder="" data-parsley-id="34">
										</div>

										<div class="text-center" style="position: relative;bottom: 7px;">
											<a href="#custom-modal" id="lgt-btn-search" class="btn btn-default waves-effect w-md waves-light m-b-5" data-animation="fadein"
											  data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">Search</a>
										</div>
									</div>

								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="list-orders">
		<div class="card-body">

			<table class="table table-striped accordion" id="lgt-tbl-products-list">
				<thead>
					<tr class="head-table-orders">
						<th>
							<input ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox" />
						</th>
						<th>ID</th>
						<th>Type</th>
						<th>Subject</th>
						<th>Email template Name</th>
						<th>Event Description</th>
						<th>Status</th>
						<th>A</th>
					</tr>
				</thead>
				<tbody>
					<tr class="body-table-orders accordion-toggle" ng-repeat="notification in notifications" data-orderid="{{notification.id}}">
						<td>
							<input ng-model="notification.selected" ng-change="optionToggled()" type="checkbox" />
						</td>
						<td>{{notification.id}}</td>
						<td>{{notification.type}}</td>
						<td>{{notification.subject}}</td>
						<td>{{notification.emailTemplate}}</td>
						<td>{{notification.description}}</td>
						<td>{{notification.status}}</td>
						<td>
							<i class="zmdi zmdi-eye"></i>
							<!-- <i class="icon-pencil"></i> -->
							<btn-edit ng-click="$state.go('app.configuration.notification.edit', { 'id': notification.id })"><div class="lgt-btn-edit d-inline-block"><i class="icon-pencil"></i></div></btn-edit>
							<i class="zmdi zmdi-delete"></i>
						</td>
					</tr>


				</tbody>
			</table>

		</div>
	</div>
</div>
