<div>
    <div class="animated fadeIn">
        <!-- form search order -->
        <lgt-search-filter></lgt-search-filter>
        <div class="list-orders">
            <div class="card-body">
                <div class="pull-right quantityGorup" style="margin:5px 0">
                    <div class="input-group ">
                        <label class="customize-label-1">Pagination: &nbsp; </label>
                        <button type="button" class="btn btn-number" data-type="first" data-field="" ng-click="firstPage()">
                            <i><img src="img/DoubleLeft.png" class="icons8-1" /></i> <small>First</small>
                        </button>
                        <button type="button" class="quantity-left-minus btn btn-number" data-type="minus" data-field="" ng-click="minusCount()">
                            <i><img src="img/single_left.png" class="icons8-1" /></i>
                        </button>
                        <!--<span class="note">max : {{ordersLength}}</span>-->
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" ng-model="pageNumber" min="1" max="{{ordersLength}}">
                        <button type="button" class="quantity-right-plus btn  btn-number" data-type="plus" data-field="" ng-click="addCount()">
                            <i><img src="img/single_right.png" class="icons8-1" /></i>
                        </button>
                        <button type="button" class="btn btn-number" data-type="last" data-field="" ng-click="lastPage()">
                            <small>Last : {{ordersLength}} </small><i><img src="img/DoubleRight.png" class="icons8-1" /></i>
                        </button>
                        <button class="btn btn-primary" ng-click="pageNumberChange()"><span ng-if="pageNumber">Go to page {{pageNumber}}</span></button>
                    </div>
                </div>
                <!--<div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm pull-right" items-per-page="itemsPerPage"></div>-->
                <div class="text-center" ng-if="count == 0">0 Result Found!</div>
                <div ng-if="count > 0">
                    <p ng-show="filtering" class="filtering">Retrieving Data <i class="fa fa-spin fa-spinner"></i></p>
                    <table ng-show="!filtering" class="table table-striped accordion" id="lgt-tbl-orders-list">
                        <thead>
                            <tr class="head-table-orders">
                                <!--<th>
                    <input ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox" />
                </th>-->
                                <th>Work Order Item #</th>
                                <th>Department Incharge</th>
                                <th>Delivery Status</th>
                                <th>Requestor Name</th>
                                <th>Delivery Method</th>
                                <th class="text-center">Payment Status</th>
                                <th class="text-center">Created On</th>
                                <th class="text-center">Expiry</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="body-table-orders accordion-toggle" ng-repeat="item in deliverys">
                                <!--<td>
                    <input ng-model="delivery.selected" ng-change="optionToggled()" type="checkbox" />
                </td>-->
                                <td>{{item.ItemCode}}</td>
                                <td>{{item.CategoryCode}}</td>
                                <td>{{item.InternalDescription}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.MethodDescription}}</td>
                                <td class="text-center">{{item.PaymentStatus == 'None' ? 'NA' : item.PaymentStatus }}</td>
                                <td class="text-center">{{item.LastModifiedDate | date:'dd-MM-yyyy'}}</td>
                                <td class="text-center">{{item.DueDate | date:'dd-MM-yyyy'}}</td>
                                <td>

                                    <!--<i class="zmdi zmdi-eye" ng-click="$state.go('app.orders.delivery.edit', { 'id': item.Item_No, 'code1' : item.Work_Order.charAt(0) })"></i>-->
                                    <i class="zmdi zmdi-eye" ng-click="generateDelivery(item.OrderId,item.OrderItemId, item.GroupCode, item.DelvOrderId)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <!-- end form search order -->
    </div>
</div>

<script  nonce="bZ8jf8rFtd">
    $(document).ready(function () {

        $(document).on('keyup', 'input[name=quantity]', function () {
            var _this = $(this);
            var min = parseInt(_this.attr('min')) || 1;
            var max = parseInt(_this.attr('max')) || 100;
            var val = parseInt(_this.val()) || (min - 1);
            if (val < min)
                _this.val(min);
            if (val > max)
                _this.val(max);
        });

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {
            e.preventDefault();
            var max = parseInt($('#quantity').attr('max'));

            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
            if (quantity >= max) {
                $('#quantity').val(quantity);
            } else {
                $('#quantity').val(quantity + 1);
            }
        });

        $('.quantity-left-minus').click(function (e) {

            e.preventDefault();

            var quantity = parseInt($('#quantity').val());
            if (quantity > 1) {
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>