﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Config.aspx.cs" Inherits="Config" %>

var base = "<%=ConfigurationManager.AppSettings["publicapi.url"] %>";
var config = {
    CheckAdminSession: base + "SessionApi/CheckAdminSession",
    GetOrder: base + "RequestApi/GetOrder",
    GetOrder1: base + "RequestApi/GetOrder1",
    getStatus: base + "RequestApi/GetNextStatus",
    UpdateStatus: base + "RequestApi/UpdateStatus",
    RegisterDelivery: base + "DeliveryApi/GenerateDeliveryOrders",
    GenerateInvoice: base + "InvoiceApi/GenerateInvoice",
    AttachmentUploads: base + "AttachmentApi/Upload",
    DeleteAttachment: base + "AttachmentApi/DeleteAttachment",
    UpdateOrderItem: base + "RequestApi/UpdateOrderItem",
    GetOrderStatus: base + "RequestApi/GetOrderStatus",
    GetCategory: base + "RequestApi/GetCategory",
    UpdateOrderItemCategoryRoute: base + "RequestApi/UpdateOrderItemCategoryRoute",
    GetEmailTemplate: base + "EmailApi/GetEmailTemplate",
    CancelOrderItem: base + "CancelApi/CancelOrderItem",
    GetDeliveryMethods: base + "DeliveryApi/GetDeliveryMethods",
    GetDelivery: base + "DeliveryApi/GetDelivery",
    AdminLogOff: base + "SessionApi/AdminLogOff",
    GetTransDetail: base + "ReportApi/GetTransDetail",
    GetTransSummary: base + "ReportApi/GetTransSummary",
    GetPriceRule: base  + "RequestApi/GetPriceRule",
    GetPaymentTransaction: base  + "ReportApi/GetPaymentTransaction",
    Attachment: base + "DeliveryApi/Attachment",
    GetA20Files: base + "AttachmentApi/GetA20Files",
    GetPayment: base + "RequestApi/GetPayment",
    GetOrderDetails: base + "requestapi/GetOrderDetails",
    GetTaxInvoice: base + "Requestapi/GetTaxInvoice",
    GetOrderItems: base + "RequestApi/GetOrderItems",
    GetOrderSummary: base + "ReportApi/GetOrderSummary",
    GetOrderDetail: base + "ReportApi/GetOrderDetail",
    GetAttachDownloadLog: base + "ReportApi/GetAttachDownloadLog",
    UpdateDelivery: base + "DeliveryApi/UpdateDelivery",
    ViewPersonalData: base + "RequestApi/ViewPersonalData",
    getworkorder: base + "RequestApi/getworkorder",
    GetWorkOrderItem: base + "RequestApi/GetWorkOrderItem",
    CompleteOrderItems: base + "RequestApi/CompleteOrderItems",
    GetDeliveryReport: base + "ReportApi/GetDeliveryReport",
    GetDeliveryCollection: base + "DeliveryApi/GetDeliveryCollection",
    getaccess: base + "sessionapi/getaccess",
    GetGroupAccess: base + "GroupAccessApi/GetGroupAccess",
    UpdateGroupAccess: base + "GroupAccessApi/UpdateGroupAccess"
};
