﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AngularJS Admin Dashboard">
    <meta name="author" content="LinxHQ">
    <meta name="keyword" content="linxhq, angularjs">
    <link rel="shortcut icon" href="img/favicon.ico">

    <title ng-bind="$state.current.ncyBreadcrumb.label"></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/angular-moment-picker.min.css">
    <link rel='stylesheet' href='vendors/js/textAngular/dist/textAngular.css'>

</head>

<body class="header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden" ng-controller="MainApp">
    <!-- User Interface -->
    <ui-view ng-if="session" class="app"></ui-view>

    <div ng-if="!session">
        <header class="app-header navbar">
            <a class="navbar-brand"></a>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-4 text-center protect">
                    <img src="img/Protect.png" />
                    <br /><br />

                    <div class="protext">Redirecting</div>
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Bootstrap and necessary plugins -->
    <!-- <script type="text/javascript" src="//eservice-stg.nlb.gov.sg/assets/js/jquery.js" nonce="bZ8jf8rFtd"></script> -->
    <script src="vendors/js/jquery.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/popper.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/bootstrap.min.js" nonce="bZ8jf8rFtd"></script>

    <!-- AngularJS -->
    <script src="vendors/js/angular.min.js" nonce="bZ8jf8rFtd"></script>
    <!-- AngularJS plugins -->
    <script src="vendors/js/angular-resource.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/angular-animate.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/angular-sanitize.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/angular-ui-router.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/ocLazyLoad.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/ng-csv.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/angular-breadcrumb.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/textAngular/dist/textAngular-rangy.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/textAngular/dist/textAngular-sanitize.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/textAngular/dist/textAngular.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/moment.min.js" nonce="bZ8jf8rFtd"></script>

    <script src="vendors/js/angular-material.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/angular-messages.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/angular-aria.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/moment-width-locales.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/angular-moment-picker.min.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/lodash_4.17.11.js" nonce="bZ8jf8rFtd"></script>
    <script src="vendors/js/moment-duration-format.js" nonce="bZ8jf8rFtd"></script>

    <script type="text/javascript" src="vendors/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="vendors/js/sortable.min.js"></script>
    <script src="vendors/js/ui-bootstrap-tpls-2.5.0.min.js" nonce="bZ8jf8rFtd"></script>
    <!-- AngularJS scripts -->
    <script src="js/app/config.js" nonce="bZ8jf8rFtd"></script>
    <script src="js/app/all.js" nonce="bZ8jf8rFtd"></script>
    <script src="js/app/services.js" nonce="bZ8jf8rFtd"></script>
    <script src="js/app/routes.js" nonce="bZ8jf8rFtd"></script>
</body>
</html>
