<div class="accordion" id="lgt-search-filter">
	<div class="card">
		<div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#lgt-search-filter-main" aria-expanded="false"
		  aria-controls="lgt-search-filter-main">
			<i class="zmdi zmdi-window-minimize"></i>
			<h5 class="mb-0 text-center">
				<button class="btn btn-link collapsed" type="button">
					SEARCH &nbsp;<img src="img/search.png" class="align-middle" style="max-width:20px" />
				</button>
			</h5>
		</div>
		<div id="lgt-search-filter-main" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			<div class="card-body">
					<div class="container">
                        <div class="row">
                            <div class="search-table-left col-sm-7">
                                <h6 class="col-sm-5 text-right">Search by Order Created:</h6><br>
                                <div class="form-group">
                                    <label class="col-sm-5 text-right control-label">Start Date :</label>
                                    <div class="col-sm-7">
                                        <div class="input-group form-control-event-setup">
                                            <input type="date" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-startdate" ng-model="formFilter.FromDate">

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 text-right control-label">End Date :</label>
                                    <div class="col-sm-7">
                                        <div class="input-group form-control-event-setup">
                                            <input type="date" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-enddate" ng-model="formFilter.ToDate">
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                            <div class="search-table-right col-sm-5">
                                 <h6 class="col-sm-5 text-right">Search by Keyword:</h6><br>
                                <div class="form-group">

                                    <label class="col-sm-5 text-right control-label">Requestor's Name :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="formFilter.RequestorName">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label class="col-sm-5 text-right control-label">Item Code :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="formFilter.ItemCode">
                                    </div>
                                </div>

                            </div>
                        </div>

						<div class="row">
							<div class="col-sm-7">
								<!--<h6 class="col-sm-5 text-right">Search by Keyword:</h6><br>
								<div class="form-group">
									<label class="col-sm-5 text-right control-label">Request ID #, or Work Order ID #</label>
									<div class="col-sm-7">
										<input type="text" class="form-control form-control-event-setup" required="" parsley-type="email" placeholder="" data-parsley-id="40">
									</div>
								</div>-->

							</div>
						</div>

						<div class="row">
							<!--<a href="#custom-modal" id="lgt-btn-search" class="btn btn-default waves-effect w-md waves-light m-b-5" data-animation="fadein"
							  data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">Search</a>-->
                            <button type="button" id="lgt-btn-search" ng-click="filterSubmit()" class="btn btn-default waves-effect w-md waves-light m-b-5">Search</button>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>