<div>
	<div class="animated fadeIn">
		<!-- form search order -->
		<lgt-search-collections></lgt-search-collections>
		<div class="list-orders">
			<div class="card-body">
				<div class="pull-right quantityGorup" style="margin:5px 0">
					<div class="input-group ">
						<label class="customize-label-1">Pagination: &nbsp; </label>
						<button type="button" class="btn btn-number" data-type="first" data-field="" ng-click="firstPage()">
						<i><img src="img/DoubleLeft.png" class="icons8-1" /></i> <small>First</small>
						</button>
						<button type="button" class="quantity-left-minus btn btn-number" data-type="minus" data-field="" ng-click="minusCount()">
						<i><img src="img/single_left.png" class="icons8-1" /></i>
						</button>
						<!--<span class="note">max : {{ordersLength}}</span>-->
						<input type="text" id="quantity" name="quantity" class="form-control input-number" ng-model="pageNumber" min="1" max="{{ordersLength}}">
						<button type="button" class="quantity-right-plus btn  btn-number" data-type="plus" data-field="" ng-click="addCount()">
						<i><img src="img/single_right.png" class="icons8-1" /></i>
						</button>
						<button type="button" class="btn btn-number" data-type="last" data-field="" ng-click="lastPage()">
						<small>Last : {{ordersLength}} </small><i><img src="img/DoubleRight.png" class="icons8-1" /></i>
						</button>
						<button class="btn btn-primary" ng-click="pageNumberChange()"><span ng-if="pageNumber">Go to page {{pageNumber}}</span></button>
					</div>
				</div>
				<!--<div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm pull-right" items-per-page="itemsPerPage"></div>-->
				<div class="text-center" ng-if="count == 0">0 Result Found!</div>
				<div ng-if="count > 0">
					<p ng-show="filtering" class="filtering">Retrieving Data <i class="fa fa-spin fa-spinner"></i></p>
					<table ng-show="!filtering" class="table table-striped accordion" id="lgt-tbl-orders-list">
						<thead>
							<tr class="head-table-orders">
								<!--<th>
										<input ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox" />
								</th>-->
								<th>Request record ID</th>
								<th>Format</th>
								<th>Transaction ID</th>
								<th class="text-center">Payment Method</th>
								<th class="text-center">Status</th>
								<th class="text-center" style="min-width:15%">Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr class="body-table-orders accordion-toggle" ng-repeat="item in deliverys">
								<!--<td>
										<input ng-model="delivery.selected" ng-change="optionToggled()" type="checkbox" />
								</td>-->
								<td>{{item.ItemCode}}</td>
								<td>{{item.Format}}</td>
								<td>{{item.PaymentId}}</td>
								<td class="text-center">
									{{item.PaymentMode }}
								</td>
								<td class="align-middle text-center">
									<span>{{item.InternalDescription}}</span>
									<!-- <a class="btn btn-primary text-light" ng-show="item.StatusCode != 'CM'" ng-click="updateStatusModal(item.OrderItemId)">Collected</a> -->
								</td>
								<td class="align-middle text-center">
									<a class="btn p-0" ng-click="openRemarksModal($index)" ng-if="(item.Format == 'PHY' && item.StatusCode == 'CM') || item.Format != 'PHY'"><i class="zmdi zmdi-eye"></i></a>
									<a class="btn btn-primary text-light" ng-click="openRemarksModal($index)" ng-show="item.StatusCode != 'CM' && item.Format == 'PHY'">Collect</a>
									<div class="modal remarkModal-{{$index}}">
										<div class="modal-dialog" role="document">
											<!-- Modal content -->
											<div class="modal-content">
												<div class="modal-header text-left">
													<span data-dismiss="modal" class="close">&times;</span>
													<h3>{{item.ItemCode}}</h3>
												</div>
												<div class="modal-body">
													<h4 class="text-left" ng-show="item.StatusCode == 'CM'">Remarks:</h4>
													<p class="text-left" ng-show="item.StatusCode != 'CM'">
														 Make sure the item(s) has been delivered successfully. Press [Confirm] to close this delivery and it will change the status to <b>Completed</b>.
													</p>
													<p class="text-left" ng-show="item.StatusCode == 'CM'">
														{{item.InternalComments}}
													</p>
													<textarea ng-model="item.InternalComments" class="w-100" rows="5" ng-show="item.StatusCode != 'CM'" ng-bind-html="item.InternalComments ? item.InternalComments : remarksDefault"></textarea>
												</div>
												<div class="modal-footer" ng-show="item.StatusCode != 'CM'">
													<div class="row flexbox fe-footer-row">
														<a data-dismiss="modal" class="btn cancel-btn">Cancel</a>
														<button type="button" class="btn fe-btn" ng-click="updateRemark(item.OrderItemId, item.InternalComments ? item.InternalComments : remarksDefault)">Confirm</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		<!-- end form search order -->
	</div>
</div>
<!-- <div id="itemCompleteConfirmation" class="modal fileeditmodal">
    <div class="modal-content">
        <div class="modal-header">
            <span data-dismiss="modal" class="close">&times;</span>
            <h3>Item Delivered Confirmation</h3>
        </div>
        <div class="modal-body">
           	Make sure the item(s) has been delivered successfully. Press [Confirm] to close this delivery and it will change the status to <b>Completed</b>. 
        </div>
        <div class="modal-footer">
            <div class="row flexbox fe-footer-row">
                <a data-dismiss="modal" class="btn cancel-btn">Cancel</a>
                <button type="button" class="btn fe-btn" ng-click="updateStatusClick()">Confirm</button>
            </div>
        </div>

    </div>
</div> -->
<script nonce="bZ8jf8rFtd">
$(document).ready(function () {
	$(document).on('keyup', 'input[name=quantity]', function () {
		var _this = $(this);
		var min = parseInt(_this.attr('min')) || 1;
		var max = parseInt(_this.attr('max')) || 100;
		var val = parseInt(_this.val()) || (min - 1);
	if (val < min)
		_this.val(min);
	if (val > max)
		_this.val(max);
	});
	var quantitiy = 0;
	$('.quantity-right-plus').click(function (e) {
	e.preventDefault();
	var max = parseInt($('#quantity').attr('max'));
	var quantity = parseInt($('#quantity').val());
		$('#quantity').val(quantity + 1);
			if (quantity >= max) {
			$('#quantity').val(quantity);
		} else {
			$('#quantity').val(quantity + 1);
		}
	});
	$('.quantity-left-minus').click(function (e) {
		e.preventDefault();
		var quantity = parseInt($('#quantity').val());
		if (quantity > 1) {
		$('#quantity').val(quantity - 1);
		}
	});
});
</script>