<div class="animated fadeIn lgt-page lgt-order-page ng-scope">
	<div class="lgt-page-header">
    <div class="lgt-left-part">
        <h3 class="lgt-page-name breadcrumbTitle">{{$state.current.ncyBreadcrumb.label}}</h3>
        <p class="lgt-page-description">{{$state.current.params.subtitle}}</p>
    </div>

</div>
<div class="lgt-back" ng-show="$state.current.data.back == true">
    <a href="" ng-click="$state.go($state.current.data.backto)"><i class="fa fa-arrow-circle-left"></i> back to Order List</a>
</div>
    <!-- Custom Tabs -->
    <div class="lgt-page-main">
        <ui-view></ui-view>
    </div>
</div>