<!--<div class="animated fadeIn">
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Traffic &amp; Sales
        </div>
          <table class="table table-hover table-outline mb-0 hidden-sm-down">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Country</th>
                <th>Usage</th>
                <th class="text-center">Payment Method</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody ng-controller="usersTableCtrl">
              <tr ng-repeat="user in users">
                <td class="text-center">
                  <div class="avatar">
                    <img ng-src="img/avatars/{{ user.avatar }}" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status" ng-class="{ 'badge-success' : user.status == 'active',
                    'badge-warning' : user.status == 'away',
                    'badge-danger'  : user.status == 'busy',
                    'badge-secondary' : user.status == 'offline' }"></span>
                  </div>
                </td>
                <td>
                  <div>{{ user.name }}</div>
                  <div class="small text-muted">
                    <span ng-if="user.new == true">New</span>
                    <span ng-if="user.new == false">Recurring</span>
                    | Registered: {{ user.registered }}</div>
                </td>
                <td class="text-center">
                  <i class="h4 mb-0 flag-icon flag-icon-{{ user.flag }}" title="{{ user.flag }}" id="{{ user.flag }}"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>{{ user.usage }}%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">{{ user.period }}</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar" ng-class="{ 'bg-info'    : user.usage <= 25,
                      'bg-success' : user.usage > 25 && user.usage <= 50,
                      'bg-warning' : user.usage > 50 && user.usage <= 75,
                      'bg-danger'  : user.usage > 75 && user.usage <= 100 }" value="{{ user.usage }}" role="progressbar" style="width: {{ user.usage }}%" aria-valuenow="{{ user.usage }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa" ng-class="{ 'fa-cc-mastercard' : user.payment == 'mastercard',
                    'fa-cc-visa' : user.payment == 'visa',
                    'fa-cc-amex' : user.payment == 'amex',
                    'fa-cc-diners-club' : user.payment == 'diners',
                    'fa-cc-stripe' : user.payment == 'stripe',
                    'fa-paypal' : user.payment == 'paypal',
                    'fa-google-wallet' : user.payment == 'google' }" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>{{ user.activity }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    /.col-->
  <!-- </div> -->
  <!--/.row-->

<!-- </div>-->