<style>

    .lgt-page-header,
    .nav-tabs, #generateInvoice, #generateDelivery, .productGroupCode {
        display: none;
    }

    .nav-tabs-custom > .tab-content {
        background: #eee;
        border: navajowhite;
    }
</style>
<div class="animated fadeIn hv-edit-order-item-page">
    <div class="">
        <div class="lgt-left-part">
            <h3 class="lgt-page-name">Item Details - {{item_details.ItemCode}}</h3>
            <!--<p class="lgt-page-description">{{item.OrderCode}}</p>-->
        </div>
    </div>
    <div class="lgt-back">
        <a href="" ui-sref="app.orders.order.product">
            <i class="fa fa-arrow-circle-left"></i> back to Order Detail
        </a>
    </div>
    <div class="block-status card-body">
        <div class="form-group row">
            <div class="col-sm-2 col-xs-2">
                <div class="d-flex align-items-center h-100">
                    <span class="update-status py-auto">Status</span><br />
                    <span class="col-md-1 col-xs-1 col-sm-1"></span>
                </div>
                
            </div>
            <div class="col-sm-10 col-xs-10">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <div class="d-inline-block my-auto">
                        {{item_details.InternalDescription}} &nbsp;
                    </div>
                   
                    <button type="button" class="btn btn-primary" ng-if="OrderStatus[0].InternalDescription" ng-click="statusChangeModal()"><i><img style="width:25px" src="img/Enter.png" /></i> <b>Next Status</b> : {{OrderStatus[0].InternalDescription}}</button>
                </div>
                <div class="custom-tooltips">
                    <button type="button" class="btn btn-outline-secondary text-dark btn-borderless btn_item_details_InternalDescription" id="tooltipsBtn"><i class=""><img src="img/Help.png" class="icons8" /></i></button>
                    <div class="tooltip_inner">
                        <h5>Step :</h5>
                        <div ng-repeat="status in statusData" ng-if="status.ShopCode == param_code  && status.TypeCode == item_details.TypeCode">
                            <span ng-class="{'font-weight-bold': item_details.InternalDescription == status.InternalDescription }"><i>- </i>{{status.InternalDescription}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="form-group row">
            <div class="col-sm-2 col-xs-4">
                <span class="col-form-label request-type">Request Type:</span>
            </div>
            <div class="col-sm-10 col-xs-8">
                <span class="normal text-muted">{{item_details.ItemCode}}</span>
            </div>
        </div>-->
        <div class="form-group row" ng-show="isTrigCancel">
            <div class="col-sm-2 col-xs-4">
                <span class="reason-box">Reason :</span>
            </div>
            <div class="col-sm-10 col-xs-8">
                <textarea rows="4" cols="50" class="reason-box-textarea"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-xs-4">
                <span class="last-modified">Last Modified :</span>
            </div>
            <div class="col-sm-10 col-xs-8">
                <span class="normal text-muted">{{item.LastModifiedDate | date:'dd-MM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-xs-2">
                <span class="col-form-label handled-by">Handled By:</span>
            </div>
            <div class="col-sm-6 col-xs-6">
                <span class="normal text-muted">{{item.LastModifiedUserId}}</span>
            </div>
            <div class="col-xs-4 col-sm-4" ng-if="item_details.StatusCode != 'CLRJ' && item_details.StatusCode != 'CM' && item_details.StatusCode != 'CLUC'">
                <button type="reset" class="btn btn-danger pull-right" ng-click="openRejectModal()">Cancel Request Item</button>
            </div>
        </div>

        <div class="block-compilation">
            <div class="card-header" id="headingTwo">
                <h6 class="mb-0">
                    Item:
                    <span class="normal">{{item.ItemCode}}</span>
                </h6>
            </div>
            <div class="block-compilation-content">
                <div class="block-item-detail">
                    <form ng-submit="detailsEditSubmit()" ng-model="formData" class="OrderEditForm">
                        <div class="card-body">
                            <div class="hv-box-item-detail">
                                <div class="lgt-box-header">
                                    <h6 class="lgt-box-name">ITEM DETAIL</h6>
                                </div>
                                <div class="lgt-box-main">
                                    <table class="lgt-tbl" ng-if="param_code == 'C' || param_code == 'P'">
                                        <tr>
                                            <th class="lgt-td-key">Item ID :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.OrderItemId}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">UUID :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SourceId}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Accession No. :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SourceNo}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Record Title :</th>
                                            <td class="lgt-td-value">
                                                <a target="_blank" href="{{item_details.SourceUrl}}"><span>{{item_details.SourceTitle}}</span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Format :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.Format}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.TotalPages && item_details.Format == 'PDF'">
                                            <th class="lgt-td-key">Total Pages :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.TotalPages}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.SelectedPages && item_details.Format == 'PDF'">
                                            <th class="lgt-td-key">Selected Pages :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SelectedPages}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.ActualPages && item_details.Format == 'PDF'">
                                            <th class="lgt-td-key">Final Chargeable (Pages):</th>
                                            <td class="lgt-td-value">
                                                <input type="text" ng-model="item_details.ActualPages" />
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.SelectedStartTime  && (item_details.Format == 'MP3' || item_details.Format == 'MP4' || item_details.Format == 'MXF') && item_details.FullOrPartial == 'Partial'">
                                            <th class="lgt-td-key">Start Time :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SelectedStartTime | secondsToDateTime | date: 'HH:mm:ss'}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.SelectedEndTime  && (item_details.Format == 'MP3' || item_details.Format == 'MP4' || item_details.Format == 'MXF') && item_details.FullOrPartial == 'Partial'">
                                            <th class="lgt-td-key">End Time :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SelectedEndTime  | secondsToDateTime | date: 'HH:mm:ss'}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.SelectedFirstWords  && (item_details.Format == 'MP3' || item_details.Format == 'MP4' || item_details.Format == 'MXF') && item_details.FullOrPartial == 'Partial'">
                                            <th class="lgt-td-key">First Word :</th>
                                            <td class="lgt-td-value">
                                                {{item_details.SelectedFirstWords}}
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.SelectedLastWords  && (item_details.Format == 'MP3' || item_details.Format == 'MP4' || item_details.Format == 'MXF') && item_details.FullOrPartial == 'Partial'">
                                            <th class="lgt-td-key">Last Word :</th>
                                            <td class="lgt-td-value">
                                                {{item_details.SelectedLastWords}}
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.ActualStartTime && (item_details.Format == 'MP3' || item_details.Format == 'MP4' || item_details.Format == 'MXF') && item_details.FullOrPartial == 'Partial'">
                                            <th class="lgt-td-key">Final Chargeable (Start Time & End Time) :</th>
                                            <td class="lgt-td-value">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <!--<input type="time" step='1' ng-model="item_details.SelectedStartTime" value="{{item_details.SelectedStartTime | secondsToDateTime | date : 'HH:mm:ss'}}">-->
                                                            <div class="input-group momentPicker"
                                                                 moment-picker="item_details.ActualStartTime"
                                                                 format="HH:mm:ss">
                                                                <span class="required">Start:</span>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </span>
                                                                <input class="time-input"
                                                                       name="Start_Time"
                                                                       placeholder="00:00:00"
                                                                       ng-model="item_details.ActualStartTime"
                                                                       ng-model-options="{ updateOn: 'blur' }"
                                                                       required>
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <!--<input type="time" step='1' ng-model="item_details.SelectedEndTime" value="{{item_details.SelectedEndTime | secondsToDateTime | date : 'HH:mm:ss'}}" />-->
                                                            <div class="input-group momentPicker"
                                                                 moment-picker="item_details.ActualEndTime"
                                                                 format="HH:mm:ss">
                                                                <span class="required">End:</span>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </span>
                                                                <input class="time-input"
                                                                       name="End_Time"
                                                                       placeholder="00:00:00"
                                                                       ng-model="item_details.ActualEndTime"
                                                                       ng-model-options="{ updateOn: 'blur' }"
                                                                       required>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.ActualFirstWords">
                                            <th class="lgt-td-key">First Word :</th>
                                            <td class="lgt-td-value">
                                                <input type="text" value="{{item_details.ActualFirstWords}}" class="hv-form-input form-control" id="312" placeholder="Enter street name">

                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.ActualLastWords">
                                            <th class="lgt-td-key">Last Word :</th>
                                            <td class="lgt-td-value">
                                                <input type="text" value="{{item_details.ActualLastWords}}" class="hv-form-input form-control" id="123" placeholder="Enter street name">

                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.AccessCondition">
                                            <th class="lgt-td-key">Access Condition :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.AccessCondition}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="lgt-tbl" ng-if="param_code == 'M'">
                                        <tr>
                                            <th class="lgt-td-key">Name of husband :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.HusbandName}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Name of wife :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.WifeName}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Date Of Marriage From :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SearchFromDate | date:'dd-MM-yyyy'}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Date Of Marriage To :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SearchToDate | date:'dd-MM-yyyy'}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.AccessCondition">
                                            <th class="lgt-td-key">Access Condition :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.AccessCondition}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.Remarks">
                                            <th class="lgt-td-key">Remarks :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.Remarks}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="lgt-tbl" ng-if="param_code == 'S'">
                                        <tr>
                                            <th class="lgt-td-key">Name of School :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SchoolName}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Birth Date :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.BirthDate | date:'dd-MM-yyyy'}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Year of Study From :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SearchFromYear}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="lgt-td-key">Year Of Study To :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.SearchToYear}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.AccessCondition">
                                            <th class="lgt-td-key">Access Condition :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.AccessCondition}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="item_details.Remarks">
                                            <th class="lgt-td-key">Remarks :</th>
                                            <td class="lgt-td-value">
                                                <span>{{item_details.Remarks}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="lgt-box-header">
                                <h6 class="lgt-box-name">ATTACHMENTS</h6>
                            </div>
                            <div class="lgt-box-main">

                                <table class="lgt-tbl">
                                    <tr>
                                        <td class="lgt-td-value">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: {{progress * 100}}%;" aria-valuenow="{{progress * 100}}" aria-valuemin="0" aria-valuemax="100">{{progress * 100 | number:0}}%</div>

                                            </div>
                                            <table id="file_edit_table" class="file_edit_table table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>No.</td>
                                                        <td>Format</td>
                                                        <td>File Name</td>
                                                        <!--<td style="width:80px">File Size</td>-->
                                                        <td>File UUID</td>
                                                        <td>Status</td>
                                                        <td ng-if="ShopCode == 'C' || ShopCode == 'P'"></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="{{ShopCode == 'C' || ShopCode == 'P' ? '7' : '6'}}" style="padding:0" class="text-center">

                                                            <label for="fileUpload" class="uploadModalBtn" ng-if="(ShopCode == 'C' || ShopCode == 'P') && item_details.StatusCode != 'PD' && item_details.StatusCode != 'PC' && item_details.StatusCode != 'CM' && item_details.StatusCode != 'CLRJ'">
                                                                <img style="width:15px" src="img/Upload.png" /> Upload File <i id="uploadloading" class="fa fa-spin fa-spinner"></i>
                                                                <input id="fileUpload" type="file" name="file" ng-model="myFile" data-multiple-caption="{count} files selected" accept=".jpg, .jpeg, .png, .docx, .doc, .pdf, .xlsx, .xls, .csv, .mp3, .mp4, .mxf" multiple="multiple" hidden />
                                                            </label>
                                                            <label class="uploadModalBtn" ng-if="(ShopCode == 'C' || ShopCode == 'P') && (item_details.StatusCode == 'PD' || item_details.StatusCode == 'PC' || item_details.StatusCode == 'CM' || item_details.StatusCode == 'CLRJ')">
                                                                <img style="width:15px" src="img/Info.png" /> Cant upload file after Pending Generate Delivery
                                                            </label>
                                                        </td>
                                                    </tr>

                                                    <tr ng-repeat="(key, fal) in item_details.Attachments" ng-class="{'has-problem': hasProblem(fal.Id)}" ng-if="item_details.Attachments.length > 0">
                                                        <td>{{('' + (key + 1)).substr(-3)}}</td>
                                                        <td><img check-image ng-src="{{ 'img/' + fal.FileFormat.replace('.','') + '.png'}}" class="img-responsive fileformat-img" /></td>
                                                        <td>{{fal.FileName}}</td>
                                                        <!--<td>{{fal.FileSize / 1024 | number:2}} MB</td>-->
                                                        <td>{{fal.FileUUID}}</td>
                                                        <td ng-class="fal.UploadStatus == 'Failed' ? 'text-danger' : ''">{{fal.UploadStatus}}</td>
                                                        <td ng-if="ShopCode == 'C' || ShopCode == 'P'" style="padding-right:10px"><button ng-if="fal.IsActive" ng-click="deleteFile(fal.Id)" class="manual_file_upload_btn"><i class="fa fa-times"></i></button></td>

                                                    </tr>
                                                    <tr ng-if="item_details.Attachments.length == 0">
                                                        <td colspan="{{ShopCode == 'C' || ShopCode == 'P' ? '7' : '6'}}" class="text-center">No File</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <button type="button" ng-if="(ShopCode == 'C' || ShopCode == 'P') && item_details.StatusCode != 'PD' && item_details.StatusCode != 'PC' && item_details.StatusCode != 'CM' && item_details.StatusCode != 'CLRJ'" class="btn btn-primary" ng-click="getA2OFiles(item_details.OrderItemId)">
                                                <span ng-show="!loading">Get Files From A2O</span>
                                                <i ng-show="loading" class="fa fa-spin fa-spinner"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="hv-box-attachment-result">
                            <div class="lgt-box-header">
                                <h6 class="lgt-box-name">COMMENTS</h6>
                            </div>
                            <div class="lgt-box-main">
                                <table class="lgt-tbl">
                                    <tr>
                                        <th class="lgt-td-key">Comment for Internal :</th>
                                        <td class="lgt-td-value">
                                            <textarea style="width:100%" ng-model="item_details.InternalComments"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="hv-box-item-detail">
                            <div class="lgt-box-header">
                                <h6 class="lgt-box-name">FILE EMAIL</h6>
                            </div>
                            <div class="lgt-box-main">
                                <table class="lgt-tbl">
                                    <tr>
                                        <th class="lgt-td-key">ERMS URL :</th>
                                        <td class="lgt-td-value">
                                            <input type="text" class="hv-form-input" ng-model="item_details.ERMSUrl" />

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="hv-box-item-detail">
                            <div class="lgt-box-header">
                                <h6 class="lgt-box-name"></h6>
                            </div>
                            <div class="lgt-box-main">
                                <table class="lgt-tbl">
                                    <tr>
                                        <th class="lgt-td-key"></th>
                                        <td class="lgt-td-value">
                                            <input type="submit" value="Save" style="margin-right:20px;" class="btn btn-primary pull-right" />
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                    </form>
                </div>

                <div class="block-payment-detail">
                    <div ng-repeat="(key,qItem) in quot_Items">
                        <div class="card-body">
                            <div class="lgt-box-header">
                                <h6 class="lgt-box-name" ng-if="key <= 0">QUOTATION DETAIL <span ng-if="item_details.ItemBundleId" class="text-bold">[Bundle]</span></h6>
                                <!--<h6 class="lgt-box-name" ng-if="key > 0">AAFee DETAIL <span ng-if="item_details.ItemBundleId" class="text-bold">[Bundle]</span></h6>-->
                            </div>
                  
                            <div class="lgt-box-main" ng-if="!qItem.PurposeOfUse">
                                <table class="lgt-tbl">
                                    <!--<tr>
                                        <th class="lgt-td-key">
                                            <p>Quotation Status : </p>
                                        </th>
                                        <td class="lgt-td-value quotation-status">
                                            <span>{{qItem.PagesNeeded}}</span>
                                        </td>
                                    </tr>-->
 
                                    <tr>
                                        <th class="lgt-td-key">
                                            Complied-item/ Item Cost :
                                        </th>
                                        <td class="lgt-td-value">
                                            <span>{{ qItem.ActualItemAmount | currency }}</span><br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="lgt-td-key" style="line-height:20px">
                                            Item GST :
                                        </th>
                                        <td class="lgt-td-value">
                                            <span>{{ qItem.ActualItemGSTAmount | currency }}</span><br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="lgt-td-key total">Total w/GST (SGD) :</th>
                                        <td class="lgt-td-value">
                                            <span>{{qItem.ItemTotalAmount | currency}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--<div class="hv-edit-btn">
                            <button class="btn">Calculate Payment</button>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="itemRejectModal" class="modal itemRejectModal">
    <!-- Modal content -->
    <div class="modal-content" style="top:10px">
        <form ng-submit="rejectItemSend()" ng-model="email_template">
            <div class="modal-header">
                <span data-dismiss="modal" class="close">&times;</span>
                <h3>Reject Item - [{{item_details.ItemCode}}]</h3>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="status_id" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <select ng-model="email_template.StatusId" id="status_id" class="form-control" ng-change="email_template_change(item_details.OrderItemId)">
                            <option ng-repeat="code in rejectCode" value="{{code.StatusId}}">{{code.InternalDescription}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="status_id" class="col-sm-12 col-form-label">The following items will be removed : </label>
                    <div class="col-sm-12">
                        <table class="table table-striped table-showItems">
                            <!--<thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Title</th>
                                    <th>Format</th>
                                </tr>
                            </thead>-->
                            <tbody>
                                <tr ng-repeat="(key,item) in itemGroupList">
                                    <td>{{key + 1}}</td>
                                    <td>{{item.SourceTitle}}</td>
                                    <td>{{item.Format}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="publiccomments" class="col-sm-2 col-form-label">Email Template</label>
                    <div class="col-sm-10">
                        <div text-angular ng-model="email_template.Body"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <div class="row flexbox fe-footer-row confirm-row">
                    <div>
                        <label for="cancel_check">
                            <input type="checkbox" id="cancel_check" ng-model="cancel_check" />
                            Are you sure you want to cancel this order item?

                        </label>
                    </div>
                    <a data-dismiss="modal" class="btn cancel-btn">Cancel</a>
                    <button type="submit" class="btn fe-btn" ng-disabled="!cancel_check">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="statusChangeConfirmation" class="modal fileeditmodal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span data-dismiss="modal" class="close">&times;</span>
            <h3>Status change to: [{{OrderStatus[0].InternalDescription}}]</h3>
        </div>
        <div class="modal-body">
            Are you sure you want to change the status to {{OrderStatus[0].InternalDescription}}
        </div>
        <div class="modal-footer">
            <div class="row flexbox fe-footer-row">
                <a data-dismiss="modal" class="btn cancel-btn">Cancel</a>
                <button type="button" class="btn fe-btn" ng-click="updateStatusClick()">Confirm</button>
            </div>
        </div>

    </div>
</div>
</div>

<script nonce="bZ8jf8rFtd">
    $(document).ready(function () {
        $(".upload").click(function () {
            $(".hv-form-input-file").click();

        });

        var inputs = document.querySelectorAll('.inputfile');
        Array.prototype.forEach.call(inputs, function (input) {
            var label = input.nextElementSibling,
                labelVal = label.innerHTML;

            input.addEventListener('change', function (e) {
                var fileName = '';
                if (this.files && this.files.length > 1)
                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                else
                    fileName = e.target.value.split('\\').pop();

                if (fileName)
                    label.querySelector('span').innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
    });
</script>