<div ng-controller="OrdersListCtrl">
	<div class="animated fadeIn">

		<!-- form search order -->
		<lgt-search-filter></lgt-search-filter>
		<!--<div class="accordion" id="lgt-search-filter">-->
			<!--<div class="card">-->
				<!--<div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#lgt-search-filter-main" aria-expanded="false" aria-controls="lgt-search-filter-main">-->
					<!--<i class="zmdi zmdi-window-minimize"></i>-->
					<!--<h5 class="mb-0 text-center">-->
						<!--<button class="btn btn-link collapsed" type="button">-->
							<!--Search Filter-->
						<!--</button>-->
					<!--</h5>-->
				<!--</div>-->
				<!--<div id="lgt-search-filter-main" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
					<!--<div class="card-body">-->
						<!--<form class="form-horizontal group-border-dashed" action="#" novalidate="" method="post">-->
							<!--<div class="container">-->
								<!--<div class="row">-->
									<!--<div class="search-table-left col-sm-7">-->
										<!--<h6 class="col-sm-5 text-right">Search by Order Created:</h6>-->
										<!--<div class="form-group">-->
											<!--<label class="col-sm-5 text-right control-label">Start Date</label>-->
											<!--<div class="col-sm-7">-->
												<!--<div class="input-group form-control-event-setup">-->
													<!--<input type="date" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-startdate">-->
													<!--<span class="input-group-addon bg-primary b-0 text-white">-->
														<!--<i class="ti-calendar"></i>-->
													<!--</span>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
										<!--<div class="form-group">-->
											<!--<label class="col-sm-5 text-right control-label">End Date</label>-->
											<!--<div class="col-sm-7">-->
												<!--<div class="input-group form-control-event-setup">-->
													<!--<input type="date" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-enddate">-->
													<!--<span class="input-group-addon bg-primary b-0 text-white">-->
														<!--<i class="ti-calendar"></i>-->
													<!--</span>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->

									<!--<div class="search-table-right col-sm-5">-->
										<!--<h6 class="col-sm-5 text-right">Search by Status:</h6>-->
										<!--<div class="form-group">-->
											<!--<label class="col-sm-5 text-right control-label">Order Status</label>-->
											<!--<div class="col-sm-7">-->
												<!--<input type="text" class="form-control form-control-event-setup" required="" parsley-type="email" placeholder="" data-parsley-id="40">-->
											<!--</div>-->
										<!--</div>-->

										<!--<div class="form-group">-->
											<!--<label class="col-sm-5 text-right control-label">Payment Status</label>-->
											<!--<div class="col-sm-7">-->
												<!--<input type="text" class="form-control" required="" placeholder="" data-parsley-id="34">-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

								<!--<div class="row">-->
									<!--<div class="col-sm-7">-->
										<!--<h6 class="col-sm-5 text-right">Search by Keyword:</h6>-->
										<!--<div class="form-group">-->
											<!--<label class="col-sm-5 text-right control-label">Request ID #, or Work Order ID #</label>-->
											<!--<div class="col-sm-7">-->
												<!--<input type="text" class="form-control form-control-event-setup" required="" parsley-type="email" placeholder="" data-parsley-id="40">-->
											<!--</div>-->
										<!--</div>-->

										<!--<div class="form-group">-->
											<!--<label class="col-sm-5 text-right control-label">Requestor's Name or Email:</label>-->
											<!--<div class="col-sm-7">-->
												<!--<input type="text" class="form-control" required="" placeholder="" data-parsley-id="34">-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

								<!--<div class="row text-center">-->
									<!--<a href="#custom-modal" id="lgt-btn-search" class="btn btn-default waves-effect w-md waves-light m-b-5" data-animation="fadein" data-plugin="custommodal"-->
									   <!--data-overlaySpeed="200" data-overlayColor="#36404a">Search</a>-->
								<!--</div>-->
							<!--</div>-->
						<!--</form>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
         
		<div class="list-orders">
			<div class="card-body">

				<table class="table table-striped accordion" id="lgt-tbl-orders-list">
					<thead>
					<tr class="head-table-orders">
						<th>
							<input ng-click="toggleAll()" ng-model="isAllSelected" style="margin-left: 37px;" type="checkbox" />
						</th>
						<th>!</th>
						<th>Work Order #</th>
						<th>Category</th>
						<th>Order Status</th>
						<th>Requestor Name</th>
						<th>Payment Status</th>
						<th>Delivery Status</th>
						<th>Created On</th>
						<th>A</th>
					</tr>
					</thead>
					<tbody>
					<tr class="body-table-orders accordion-toggle" ng-repeat="order in orders" data-orderid="{{order.id}}">
						<td>
							<i class="fa fa-caret-down collapsed" id="package-{{$index}}" data-toggle="collapse" data-parent="#OrderPackages"
							   data-target=".packageDetails-{{$index}}" ng-click="collapseDetailsTable(order.id, $index)"></i>
							<input ng-model="order.selected" ng-change="optionToggled()" style="margin-left: 20px;" type="checkbox" />
						</td>
						<td>
							<div class="icon-alert">!</div>
						</td>
						<td>{{order.work}}</td>
						<td>{{order.category}}</td>
						<td>{{order.status}}</td>
						<td>{{order.requestorName}}</td>
						<td>{{order.paymentStatus}}</td>
						<td>{{order.deliveryStatus}}</td>
						<td>{{order.createdOn}}</td>
						<td>
							<i class="zmdi zmdi-eye" ng-click="$state.go('app.orders.order.product', { 'id': order.id })"></i>
						</td>
					</tr>


					</tbody>
				</table>

			</div>
		</div>
		<!-- end form search order -->

	</div>
</div>