<div class="tab-pane active" id="tab_1">
    <div class="lgt-page lgt-list-prod-by-orid-page">
        <div>
            <div ng-if="code == 'C' || code == 'P'">
                <!--ng-if="!toggleQuotation || (!toggleQuotation && quotations.length <= 0) || (toggleQuotation && quotations.length <= 0)"-->
                <div ng-repeat="(key, gorderItems) in get_orderitems | orderBy : 'QuoteCode'" class="quotationTable" ng-show="!hasVO">
                  
                    <label for="invoiceGenerate{{key}}" ng-show="toggleQuotation">
                        {{gorderItems.OrderItems[key].StatusCode}}
                        <input ng-disabled="!gorderItems.EnableInvoice" id="invoiceGenerate{{key}}" ng-model="gorderItems.selected" ng-change="optionQuoteToggled(gorderItems)" type="checkbox" />
                        <b>Quotation: Q{{gorderItems.QuoteCode}}</b>
                    </label>
                    <div  class="productTables">
                        <table id="lgt-my-table" class="lgt-table productTable">
                            <thead>
                                <tr class="head-table-orders-items">
                                    <th ng-show="toggleDelivery" class="text-center">
                                        <!--<input ng-click="toggleAll(orderitems_output)" ng-model="isAllSelected" type="checkbox" />-->
                                    </th>
                                    <th class="text-center">!</th>
                                    <th>Item #</th>
                                    <th>Record Title/ Accession #</th>
                                    <th>Sale Price (w.GST)</th>
                                    <th>Format</th>
                                    <!--<th ng-if=" quoItems.OrderItems[$index].Format == 'MP3' ||  quoItems.OrderItems[$index].Format == 'MP4' ||  quoItems.OrderItems[$index].Format == 'MXF'">Start/End Time</th>-->
                                    <th>Start/End Time/Pages</th>
                                    <th>Record Status</th>
                                    <th class="text-center">Payment Status</th>
                                    <th class="text-center">Last Modified</th>
                                    <th class="text-center">Handled By</th>
                                    <th>Edit</th>
                                    <!--<th>Generate Delivery</th>-->
                                </tr>
                            </thead>
                            <tbody ng-repeat="quoItems in gorderItems.Items" ng-if="quoItems.QuoteType != 'Group'"> 
                                <tr class="body-table-orders-items accordion-toggle" ng-repeat="(key2, item) in quoItems.OrderItems" ng-class="{'has-problem': hasProblem(item.SourceId)}">
                                    <td class="td-cb-select text-center" ng-show="toggleDelivery">
                                        <input ng-disabled="item.StatusCode != 'PD'" ng-model="item.selected" ng-change="optionToggled(item)" type="checkbox" />
                                    </td>
                                    <td class="td-icon-alert">
                                        <div ng-if="item.InternalActionRequired" class="icon-alert text-center">!</div>
                                    </td>
                                    <td class="td-uuid">{{item.ItemCode}}</td>
                                    <td class="td-record-title">
                                        <span>{{item.SourceTitle}} / {{item.SourceNo}}</span>
                                    </td>
                                    <td  class="td-sale-price" ng-class="item.ItemBundleId ? 'ifBundlecss' : 'ifnotBundlecss'"><span ng-show="item.ItemBundleId ? key2 > 0 ? false : true : true">{{(quoItems.ItemTotalAmount | currency) || "NA" }} <span ng-if="quoItems.TotalDuration && (item.Format == 'MP3' || item.Format == 'MP4' || item.Format == 'MXF')"><br /><br />Total Duration : {{quoItems.TotalDuration | secondsToDateTime | date : 'HH:mm:ss'}}</span><span ng-if="quoItems.TotalPages && item.Format == 'PDF'"><br /><br />Total Pages : {{quoItems.TotalPages}}</span></span></td>
                                    <td class="text-uppercase">{{item.Format}}</td>
                                    <td ng-if="item.FullOrPartial == 'Full'">
                                        <div ng-if="item.Format == ''">
                                            NA
                                        </div>
                                        <div ng-if="item.Format == 'PDF'">
                                           Total Pages : {{item.TotalPages}}
                                        </div>
                                        <div ng-if="item.Format == 'MP3' || item.Format == 'MP4' || item.Format == 'MXF'">
                                            <span class="text-bold">Full</span>
                                        </div>
                                          
                                    </td>
                                    <td ng-if="item.FullOrPartial == 'Partial'">
                                        <div ng-if="item.Format == ''">
                                            NA
                                        </div>
                                        <div ng-if="item.Format == 'PDF'">
                                            Total Pages : {{item.SelectedTotalPages}}
                                            Selected Pages : {{item.SelectedPages}}
                                        </div>
                                        <div ng-if="item.Format == 'MP3' || item.Format == 'MP4' || item.Format == 'MXF'">
                                            <table class="table" ng-if="item.ActualEndTime > 1">
                                                <tr>
                                                    <td>
                                                        {{item.ActualStartTime | secondsToDateTime | date : 'HH:mm:ss'}}
                                                        <br />
                                                        {{item.ActualEndTime | secondsToDateTime | date : 'HH:mm:ss'}}
                                                    </td>
                                                    <td>
                                                        <button ng-click="StartEndTimeModal('startEndTimeModal' + key + key2, item.ActualStartTime, item.ActualEndTime)" class="btn" style="background-color:#F2F5F8"><img src="img/Edit.png" class="img-responsive edit-img" /></button>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div id="startEndTimeModal{{key}}{{key2}}" class="modal fileeditmodal">
                                                <!-- Modal content -->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <span data-dismiss="modal" class="close">&times;</span>
                                                        <h3>Edit Start/End Time</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table" style="background-color:white !important">
                                                            <tr>
                                                                <td>
                                                                    <!--<input type="time" step='1' ng-model="item_details.SelectedStartTime" value="{{item.SelectedStartTime | secondsToDateTime | date : 'HH:mm:ss'}}">-->
                                                                    <div class="input-group momentPicker"
                                                                         format="HH:mm:ss" moment-picker="editStartTime">
                                                                        <span class="required">Start:</span>
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-clock-o"></i>
                                                                        </span>
                                                                        <input class="time-input"
                                                                               name="Start_Time"
                                                                               placeholder="00:00:00"
                                                                               ng-model="item.ActualStartTime"
                                                                               ng-model-options="{ updateOn: 'blur' }"
                                                                               ng-value="editStartTime"
                                                                               required>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <!--<input type="time" step='1' ng-model="item_details.SelectedEndTime" value="{{item_details.SelectedEndTime | secondsToDateTime | date : 'HH:mm:ss'}}" />-->

                                                                    <div class="input-group momentPicker"
                                                                         format="HH:mm:ss" moment-picker="editEndTime">
                                                                        <span class="required">End:</span>
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-clock-o"></i>
                                                                        </span>
                                                                        <input class="time-input"
                                                                               name="End_Time"
                                                                               placeholder="00:00:00"
                                                                               ng-model="item.ActualEndTime"
                                                                               ng-model-options="{ updateOn: 'blur' }"
                                                                                ng-value="editEndTime"
                                                                               required>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row flexbox fe-footer-row">
                                                            <a data-dismiss="modal" class="btn cancel-btn">Cancel</a>
                                                            <button type="button" class="btn fe-btn" ng-click="updateItemInfo('startEndTimeModal' + key + key2, item.OrderItemId, item.SelectedStartTime, item.SelectedEndTime, item.ActualStartTime, item.ActualEndTime)">Confirm</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td class="td-record-status text-bold">{{item.InternalDescription}} </td>
                                    <td class="td-payment-status text-bold text-center">{{item.PaymentStatus ? item.PaymentStatus : '_'}}</td>
                                    <td class="td-last-modified text-center">{{item.LastModifiedDate | date:'dd-MM-yyyy'}}</td>
                                    <td class="td-handled-by text-center">{{item.LastModifiedUserId}}</td>
                                    <td class="td-edit">
                                        <a ng-click="editOrder(item.OrderItemId)"><img src="img/Edit.png" class="img-responsive edit-img" /></a>
                                    </td>
                                    <!--<td class="td-gd">
                        <button ng-click="gd_modal(item.Order_Item_ID)">{{item.OrderItemId}}</button>
                    </td>-->
                                </tr>

                            </tbody>

                        </table>
                    </div>

                </div>
                <div ng-show="hasVO">
                    <table id="lgt-my-table" class="lgt-table" ng-if="code == 'C' || code == 'P'">
                        <thead>
                            <tr class="head-table-orders-items">
                                <th ng-show="toggleDelivery" class="text-center">
                                    <!--<input ng-click="toggleAll(orderitems_output)" ng-model="isAllSelected" type="checkbox" />-->
                                </th>
                                <th class="text-center">!</th>
                                <th>Item #</th>
                                <th>Record Title/ Accession #</th>
                                <th>Sale Price</th>
                                <th>Format</th>
                                <th>Record Status</th>
                                <th class="text-center">Payment Status</th>
                                <th class="text-center">Last Modified</th>
                                <th class="text-center">Handled By</th>
                                <th>Edit</th>
                                <!--<th>Generate Delivery</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="body-table-orders-items accordion-toggle" ng-repeat="(key, item) in orderitems_output" ng-class="{'has-problem': hasProblem(item.SourceId)}">
                                <td class="td-cb-select text-center" ng-show="toggleDelivery">
                                    <input ng-disabled="item.StatusCode != 'PD'" ng-model="item.selected" ng-change="optionToggled(item)" type="checkbox" />
                                </td>
                                <td class="td-icon-alert">
                                    <div ng-if="item.InternalActionRequired" class="icon-alert text-center">!</div>
                                </td>
                                <td class="td-uuid">{{item.ItemCode}}</td>
                                <td class="td-record-title">
                                    <span>{{item.SourceTitle}} / {{item.SourceNo}}</span>
                                </td>
                                <td class="td-sale-price">{{(item.ActualItemAmount + ActualItemGST | currency) || "NA" }}</td>
                                <td class="td-format text-uppercase">{{item.Format}}</td>
                                <td class="td-record-status text-bold">{{item.InternalDescription}} </td>
                                <td class="td-payment-status text-bold text-center">{{item.Payment_Status || '_'}}</td>
                                <td class="td-last-modified text-center">{{item.LastModifiedDate | date:'dd-MM-yyyy'}}</td>
                                <td class="td-handled-by text-center">{{item.LastModifiedUserId}}</td>
                                <td class="td-edit">
                                    <a ng-click="editOrder(item.OrderItemId)"><img src="img/Edit.png" class="img-responsive edit-img" /></a>
                                </td>
                                <!--<td class="td-gd">
                                <button ng-click="gd_modal(item.Order_Item_ID)">{{item.OrderItemId}}</button>
                            </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <table id="lgt-my-table" ng-repeat="(key, gorderItems) in get_orderitems" class="lgt-table table-bordered productTable" ng-show="code == 'M'">
                <thead>
                    <tr class="head-table-orders-items">
                        <th ng-show="toggleDelivery" class="text-center">
                            <!--<input ng-click="toggleAll(orderitems_output)" ng-model="isAllSelected" type="checkbox" />-->
                        </th>
                        <th class="text-center">!</th>
                        <th>Item #</th>
                        <th>Husband name</th>
                        <th>Wife name</th>
                        <th>Date Of Marriage From</th>
                        <th>Date Of Marriage To</th>
                        <th>Request Status</th>
                        <th class="text-center">Last Modified</th>
                        <th class="text-center">Handled By</th>
                        <th>Edit</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="body-table-orders-items accordion-toggle" ng-repeat="(key, item) in gorderItems.Items[0].OrderItems" ng-class="{'has-problem': hasProblem(item.OrderItemId)}">
                        <td class="td-cb-select text-center" ng-show="toggleDelivery">
                            <input ng-disabled="item.StatusCode != 'PD'" ng-model="item.selected" ng-change="optionToggled(item)" type="checkbox" />
                        </td>
                        <td class="td-icon-alert">
                            <div ng-if="item.InternalActionRequired" class="icon-alert text-center">!</div>
                        </td>
                        <td>{{item.ItemCode}}</td>
                        <td>{{item.HusbandName}}</td>
                        <td>{{item.WifeName}}</td>
                        <td>{{item.SearchFromDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.SearchToDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.InternalDescription}}</td>
                        <td class="text-center">{{item.LastModifiedDate | date:'dd-MM-yyyy'}}</td>
                        <td class="text-center">{{item.LastModifiedUserId}}</td>
                        <td><a ng-click="editOrder(item.OrderItemId)"><img src="img/Edit.png" class="img-responsive edit-img" /></a></td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="code == 'S'">
                <div ng-repeat="(key, gorderItems) in get_orderitems">
                    <div class="col-md-12">
                        <label for="invoiceGenerate" ng-show="toggleQuotation">
                            <input ng-disabled="get_status != 'PQ'" id="invoiceGenerate" ng-model="gorderItems.selected" ng-change="optionQuoteToggled(gorderItems)" type="checkbox" />
                            <b>Quotation: Q{{gorderItems.QuoteCode}}</b>
                        </label>

                        <!-- Generate delivery for school -->
                        <table id="lgt-my-table" class="lgt-table table-bordered productTable">
                            <thead>
                                <tr class="head-table-orders-items ">
                                    <th ng-show="toggleDelivery" class="text-center">
                                        <!--<input ng-click="toggleAll(orderitems_output)" ng-model="isAllSelected" type="checkbox" />-->
                                    </th>
                                    <th class="text-center">!</th>
                                    <th>Item #</th>
                                    <th>School Name</th>
                                    <th>Year of study from</th>
                                    <th>Year of study to</th>
                                    <th>Sales Price</th>
                                    <th>Request Status</th>
                                    <th class="text-center">Last Modified</th>
                                    <th class="text-center">Handled By</th>
                                    <th>Edit</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="body-table-orders-items accordion-toggle" ng-repeat="(key, item) in gorderItems.Items[0].OrderItems" ng-class="{'has-problem': hasProblem(item.OrderItemId)}">
                                    <td class="td-cb-select text-center" ng-show="toggleDelivery">
                                        <input ng-disabled="item.StatusCode != 'PD'" ng-model="item.selected" ng-change="optionToggled(item)" type="checkbox" />
                                    </td>
                                    <td class="td-icon-alert">
                                        <div ng-if="item.InternalActionRequired" class="icon-alert text-center">!</div>
                                    </td>
                                    <td>{{('00' + (key + 1)).substr(-3)}}</td>
                                    <td>{{item.SchoolName}}</td>
                                    <td>{{item.SearchFromYear}}</td>
                                    <td>{{item.SearchToYear}}</td>
                                    <td>{{item.OriginalItemAmount + item.OriginalItemGST | currency}}</td>
                                    <td>{{item.InternalDescription}}</td>
                                    <td class="text-center">{{item.LastModifiedDate | date:'dd-MM-yyyy'}}</td>
                                    <td class="text-center">{{item.LastModifiedUserId}}</td>
                                    <td><a ng-click="editOrder(item.OrderItemId)"><img src="img/Edit.png" class="img-responsive edit-img" /></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- /.tab-pane -->
