<div class="header_btn">
    <!--<div class="btn-group">
        <button class="btn lgt-btn lgt-btn-export" data-toggle="dropdown">
            <i class="icon-cloud-download"></i>Export
        </button>
        <button class="btn dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" x-placement="bottom-start">
            <a class="dropdown-item btn-export-csv" href="#" ng-click="actionExport('csv')">
                <i class="fa fa-file-o"></i>CSV
            </a>
            <a class="dropdown-item btn-export-excel" href="#" ng-click="actionExport('excel')">
                <i class="fa fa-file-excel-o"></i>EXCEL
            </a>
            <a class="dropdown-item btn-export-pdf" href="#" ng-click="actionExport('pdf')">
                <i class="fa fa-file-pdf-o"></i>PDF
            </a>
            <a class="dropdown-item btn-print" href="#" ng-click="actionExport('print')">
                <i class="fa fa-print"></i>Print
            </a>
        </div>
    </div>-->
    <div class="generateBtn" ng-show="productGenerateBtn">
        <button class="btn lgt-btn lgt-btn-generate-quotation" ng-show="showBtn('generateQuotation')" ng-click="showQuotationSelection('invoice')">
            <i class="fa fa-file-text-o"></i> Generate Invoice [<span class="numPQ">0</span>]
        </button>
        <button class="btn lgt-btn lgt-btn-deliver" ng-show="showBtn('deliver')" ng-click="showQuotationSelection('deliver')">
            <i class="fa fa-truck"></i> Generate Delivery [<span class="numPD">0</span>]
        </button>
    </div>
    <div id="generateInvoice" ng-show="generateInvoice">
        <button class="btn lgt-btn lgt-btn-generate-quotation" >
            <i class="fa fa-file-text-o"></i> Generate Invoice [<span class="numPQ">0</span>]
        </button>
        <button class="btn btn-secondary lgt-btn" ng-click="cancelGenerate()">
            Cancel
        </button>
        <div style="float:right;">
            <button class="btn btn-primary lgt-btn chk-btn-generate-quotation" ng-click="generateItemClicked()" disabled>
                Proceed with selected [<span class="num_selected">0</span>]
            </button>
        </div>
    </div>
    <div id="generateDelivery" ng-show="generateDelivery">
        <button class="btn lgt-btn lgt-btn-deliver">
            <i class="fa fa-truck"></i> Generate Delivery [<span class="numPD">0</span>]
        </button>
        <button class="btn btn-secondary lgt-btn" ng-click="cancelGenerate()">
            Cancel
        </button>
        <div style="float:right">
            <button class="btn btn-primary lgt-btn chk-btn-deliver" ng-click="generateItemClicked()" disabled>
                Proceed with selected [<span class="num_selected">0</span>]
            </button>

        </div>
    </div>
</div>

<div class="nav-tabs-custom">
    <div class="productGroupCode">{{GroupCodeTitle}}</div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#tab_1" class="nav-link" ui-sref-active='{"active": "app.orders.order.product" }' ui-sref="app.orders.order.product">Request Item(s)</a>
        </li>
        <li class="nav-item">
            <a href="#tab_2" class="nav-link" ui-sref-active='{"active":"app.orders.order.info"}' ui-sref="app.orders.order.info">Info</a>
        </li>
        <!--<li class="nav-item">
            <a href="#tab_1" class="nav-link" ui-sref-active="active" ui-sref="app.orders.order.log({id: order.Order_ID})">Log</a>
        </li>-->
    </ul>
    <div class="tab-content">
        <ui-view></ui-view>
    </div>
    <!-- /.tab-content -->
</div>
<!-- nav-tabs-custom -->
