﻿ <style>
    .lgt-page-header,
    .nav-tabs {
        display: none;
    }

    .nav-tabs-custom > .tab-content {
        background: #eee;
        border: navajowhite;
    }
</style>
<div class="container">
        <div class="row">
            <div class="col-md-12 success-content text-center">
                <img src="../AdminPortal/img/Ok.png"  class="img-responsive" />
                <span class="success-text">You Have Successfully send mail to patron</span>
            </div>
          
        </div>
    </div>

