<div>
	<div class="animated fadeIn">
		<div class="list-promotions">
			<div class="card-body">
				<button class="btn btn-primary lgt-btn-add-new" ng-click="$state.go('app.promotions.add')"><i class="fa fa-plus"></i>Add new</button>
				<table class="table table-striped accordion" id="lgt-tbl-promotions-list">
					<thead>
						<tr class="head-table-promotions">
							<th width="40">
								<input ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox" />
							</th>
							<th width="160">{{labels.promoCode}}</th>
							<th>{{labels.description}}</th>
							<th width="140">{{labels.validPeriod}}</th>
							<th width="100">{{labels.createdDate}}</th>
							<th width="100">{{labels.modifiedDate}}</th>
							<th width="100">{{labels.modifiedBy}}</th>
							<th width="40"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="body-table-promotions accordion-toggle" ng-repeat="item in items" data-promotionid="{{item.id}}">
							<td>
								<input ng-model="item.selected" ng-change="optionToggled()" type="checkbox" />
							</td>
							<td class="promoCode">{{item.promoCode}}</td>
							<td class="description"><p>{{ item.description | limitTo: 140 }}{{item.description.length > 140 ? '...' : ''}}</p></td>
                            <td class="validPeriod">{{item.validFrom}}<br>to: {{item.validUntil}}</td>
							<td class="createdDate">{{item.createdDate}}</td>
							<td class="modifiedDate">{{item.modifiedDate}}</td>
							<td class="modifiedBy">{{item.modifiedBy}}</td>
							<td>
								<i class="zmdi zmdi-eye" ng-click="$state.go('app.promotions.modify', { 'id': item.id })"></i>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

	</div>
</div>