<form id="lgt-promotions-form" action="#" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 left-col">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="promocode">Promo Code<br>(No spacing allowed)</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" name="promoCode" class="form-control" id="promoCode" ng-model="promotionCode.promoCode">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea rows="7" name="description" class="form-control" id="description" ng-model="promotionCode.description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="discountValue">Discount Value / Type</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="discount-row">
                            <div class="row">
                                <div class="col-sm-7">
                                    <input type="text" name="discountValue" class="form-control" id="discountValue" ng-model="promotionCode.discountValue">
                                </div>
                                <div class="col-sm-5">
                                    <input type="hidden" name="status" id="discountType"/>
                                    <div class="btn-group">
                                        <button class="btn lgt-btn lgt-btn-discount-type" data-toggle="dropdown">
                                            %
                                        </button>
                                        <button class="btn dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu" x-placement="bottom-start">
                                            <div class="lgt-option">%</div>
                                            <div class="lgt-option">$</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="validFrom">Valid From</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" name="validFrom" class="form-control" id="validFrom" ng-model="promotionCode.validFrom">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="validUntil">Valid Until</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" name="validUntil" class="form-control" id="validUntil" ng-model="promotionCode.validUntil">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="status">Status</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="hidden" name="status" id="status"/>
                        <div class="btn-group">
                            <button class="btn lgt-btn lgt-btn-status" data-toggle="dropdown">
                                Active
                            </button>
                            <button class="btn dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start">
                                <div class="lgt-option">Active</div>
                                <div class="lgt-option">Inactive</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 right-col">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Created Date</label>
                    </div>
                    <div class="col-sm-6">
                        {{promotionCode.createdDate}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Created By</label>
                    </div>
                    <div class="col-sm-6">
                        {{promotionCode.createdBy}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Last Modified Date</label>
                    </div>
                    <div class="col-sm-6">
                        {{promotionCode.modifiedDate}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Last Modified By</label>
                    </div>
                    <div class="col-sm-6">
                        {{promotionCode.modifiedBy}}
                    </div>
                </div>
            </div>


            <div class="lgt-btns-div">
                <button class="btn lgt-btn lgt-btn-delete" type="button" ng-class="{'lgt-visible': showBtnDelete}">Delete</button>
                <button class="btn lgt-btn lgt-btn-save" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>