<div>
    <div class="animated fadeIn">

        <lgt-search-filter></lgt-search-filter>

        <div class="list-orders">
            <div class="card-body">
                <div class="pull-right quantityGorup" style="margin:5px 0">
                    <div class="input-group ">
                        <label class="customize-label-1">Pagination: &nbsp; </label>
                        <button type="button" class="btn btn-number" data-type="first" data-field="" ng-click="firstPage()">
                            <i><img src="img/DoubleLeft.png" class="icons8-1" /></i> <small>First</small>
                        </button>
                        <button type="button" class="quantity-left-minus btn btn-number" data-type="minus" data-field="" ng-click="minusCount()">
                            <i><img src="img/single_left.png" class="icons8-1" /></i>
                        </button>
                        <!--<span class="note">max : {{ordersLength}}</span>-->
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" ng-model="pageNumber" min="1" max="{{ordersLength}}">
                        <button type="button" class="quantity-right-plus btn  btn-number" data-type="plus" data-field="" ng-click="addCount()">
                            <i><img src="img/single_right.png" class="icons8-1" /></i>
                        </button>
                        <button type="button" class="btn btn-number" data-type="last" data-field="" ng-click="lastPage()">
                            <small>Last : {{ordersLength}} </small><i><img src="img/DoubleRight.png" class="icons8-1" /></i>
                        </button>
                        <button class="btn btn-primary" ng-click="pageNumberChange()"><span ng-if="pageNumber">Go to page {{pageNumber}}</span></button>
                    </div>
                </div>
                <div class="text-center" ng-if="orders.length == 0">0 Result Found!</div>
                <div ng-if="orders.length > 0">
                    <!--<div class="text-center">{{count}} Result Found!</div>-->
                    <p ng-show="filtering" class="filtering">Retrieving Data <i class="fa fa-spin fa-spinner"></i></p>
                    <table ng-show="!filtering" class="table order-table-striped accordion lgt-table" id="lgt-tbl-orders-list">
                        <thead>
                            <tr class="head-table-orders">
                                <th style="width: 40px;"></th>
                                <th>!</th>
                                <!--
                                <th style="width: 40px;">
                                    <input ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox" />
                                </th>
                                -->
                                <th>Work Order #</th>
                                <th>Category</th>
                                <!--<th>Order Status</th>-->
                                <th>Requestor Name</th>
                                <th class="text-center">Last Modified</th>
                                <th class="text-center">Created On</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="body-table-orders accordion-toggle" ng-repeat-start="order in orders track by $index">
                                <td>
                                    <i class="fa fa-caret-down collapsed" data-toggle="collapse" data-target="#collapse-{{order.GroupCode}}" aria-expanded="true" aria-controls="collapse-{{order.GroupCode}}" ng-click="getOrderItemsList(order.GroupCode, $index, order.OrderId)"></i>
                                </td>
                                <td>
                                    <div ng-if="order.InternalActionRequired" style="margin: auto;" class="icon-alert text-center">!</div>
                                </td>
                                <!--
                                    <td>
                                        <input ng-model="order.selected" ng-change="optionToggled()" type="checkbox" />
                                    </td>
                                    -->
                                <td>{{order.GroupCode}}</td>
                                <td>{{order.Description}}</td>
                                <!--<td>{{order.itemslist[0].InternalDescription}}</td>-->
                                <td>{{order.Name}}</td>
                                <td class="text-center">{{order.LastModifiedDate | date:'dd-MM-yyyy'}}</td>
                                <td class="text-center">{{order.OrderCreatedDate | date:'dd-MM-yyyy'}}</td>
                                <td class="text-center">
                                    <i class="zmdi zmdi-eye" ng-click="$state.go('app.orders.order.product', { 'id': order.OrderId , 'code1': order.GroupCode.charAt(0), 'code2':order.GroupCode });"></i>
                                </td>
                            </tr>

                            <tr ng-repeat-end>
                                <td colspan="11" class="hiddenRow" style="background:#b9c1c6">

                                    <div class="accordion-body collapse accordion-body-list-order" ng-class="{'show': order.RequireAction}" id="collapse-{{order.GroupCode}}" aria-labelledby="heading-{{order.GroupCode}}" style="margin: 0 0 10px;">
                                        <table class="table lgt-tbl-package-details">
                                            <thead>
                                                <tr class="head-table-orders-items">
                                                    <th style="width: 40px;">!</th>
                                                    <th>Item #</th>
                                                    <th>Source No.</th>
                                                    <th>Record Title (File Name)</th>
                                                    <th class="text-center">Format</th>
                                                    <th>Record Status</th>
                                                    <th class="text-center">Payment Status</th>
                                                    <th>Handled By</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="item-{{$index}}-{{order.OrderId}}" class="bodyAppended">
                                             <!--    <tr class="body-table-orders-items accordion-toggle">
                                                    <td>
                                                        <div ng-if="item.InternalActionRequired" style="margin: auto;" class="icon-alert text-center">!</div>
                                                    </td>
                                                    <td>{{item.ItemCode}}</td>
                                                    <td>{{item.SourceNo || "-" }}</td>
                                                    <td style="width:30%">{{item.SourceTitle || "-" }}</td>
                                                    <td class="text-center">{{item.Format || "-" }}</td>
                                                    <td>{{item.InternalDescription}}</td>
                                                    <td class="text-center">{{item.PaymentStatus == 'None' ? "NA" : item.PaymentStatus }}</td>
                                                    <td>{{item.LastModifiedUserId  || "-" }}</td>
                                          
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>


            </div>
        </div>
        <!-- end form search order -->

    </div>
</div>
<script nonce="bZ8jf8rFtd">
    $(document).ready(function () {

        $(document).on('keyup', 'input[name=quantity]', function () {
            var _this = $(this);
            var min = parseInt(_this.attr('min')) || 1; 
            var max = parseInt(_this.attr('max')) || 100; 
            var val = parseInt(_this.val()) || (min - 1); 
            if (val < min)
                _this.val(min);
            if (val > max)
                _this.val(max);
        });

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {
            e.preventDefault();
            var max = parseInt($('#quantity').attr('max'));
     
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
            if (quantity >= max) {
                $('#quantity').val(quantity);
            } else {
                $('#quantity').val(quantity + 1);
            }
        });

        $('.quantity-left-minus').click(function (e) {

            e.preventDefault();

            var quantity = parseInt($('#quantity').val());
            if (quantity > 1) {
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>