<div class="animated fadeIn lgt-page lgt-order-page" ng-controller="OrdersCtrl">
    <div class="row ifInvoiceSuccess">
        <div class="col-md-12 success-content text-center">
            <img src="img/Ok.png" class="img-responsive" style="width:30px" />
            <span class="success-text">Invoice Created Successfully</span><br />
            An email has been sent to the patron
        </div>
    </div>
    <div class="row ifDeliverSuccess">
        <div class="col-md-12 success-content text-center">
            <img src="img/Ok.png" class="img-responsive" style="width:30px" />
            <span class="success-text">Delivery Order Created Successfully</span><br />
            An email has been sent to the patron
        </div>

    </div>
    <div class="row ifDeliverUpdateSuccess">
        <div class="col-md-12 success-content text-center">
            <img src="img/Ok.png" class="img-responsive" style="width:30px" />
            <span class="success-text">Delivery Order Updated Successfully</span><br />
            An email has been sent to the patron
        </div>

    </div>
    <div class="row routingDepartmentSuccess">
        <div class="col-md-12 success-content text-center">
            <img src="img/Ok.png" class="img-responsive" style="width:30px" />
            <span class="success-text">Work Order Re-routed Successfully</span><br />
        </div>

    </div>

    <div class="row itemDetailsSavingSuccess">
        <div class="col-md-12 success-content text-center">
            <img src="img/Ok.png" class="img-responsive" style="width:30px" />
            <span class="success-text">Item Details Saved Successfully</span><br />
        </div>

    </div>

    <div class="lgt-page-header">
        <div class="lgt-left-part">
            <h3 class="lgt-page-name breadcrumbTitle">{{$state.current.ncyBreadcrumb.label}}</h3>
            <p class="lgt-page-description">{{$state.current.params.subtitle}}</p>
        </div>

    </div>
    <div class="lgt-back" ng-show="$state.current.data.back == true">
        <a href="" ng-click="$state.go($state.current.data.backto)"><i class="fa fa-arrow-circle-left"></i> back to Order List</a>
    </div>
    <!-- Custom Tabs -->
    <div class="lgt-page-main">
        <ui-view></ui-view>
    </div>
</div>
