<section ng-controller="faqCtrl" id="faq">
	<!-- 	<div class="position-fixed toastBox">
			<div class="content text-center text-bold d-flex align-items-center full-height">
					<span ng-show="orderChangeStatus" class="text-success">FAQ has been published successfully</span>
					<span ng-show="!orderChangeStatus" class="text-danger">Error when publishing FAQ!</span>
			</div>
	</div> -->
	<div class="container-fluid pb-5">
		<div class="row">
			<div class="col-md-12 d-flex flex-row pb-3">
				<div class="w-50">
					
				</div>
				<div class="text-right w-50">
					<a class="btn btn-primary text-light" ng-click="publishFaq()">Publish</a>
					<div class="mt-1">
						<small>Drag <img src="img/drag.png" data-toggle="tooltip" data-placement="right" title="Drag Me" /> to reorder Q&A Items</small>
					</div>
				</div>
				
			</div>
		</div>
		<div class="row m-0">
			<div class="col-md-12 p-0">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link btnInTab" id="nav-group-tab" data-toggle="tab" href="#nav-group" role="tab" aria-controls="nav-group" aria-selected="true">Q&A Groups</a>
						<a class="nav-item nav-link btnInTab active" id="nav-items-tab" data-toggle="tab" href="#nav-items" role="tab" aria-controls="nav-items" aria-selected="false" ng-click="refreshFaqGroup()">Q&A Items</a>
						<!-- <a class="nav-item nav-link" id="nav-drafts-tab" data-toggle="tab" href="#nav-drafts" role="tab" aria-controls="nav-drafts" aria-selected="false">Q&A Drafts</a> -->
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-items" role="tabpanel" aria-labelledby="nav-items-tab">
						<div class="row">
							<div class="col-md-12 mt-2">
								<label>Select a Q&A Groups:</label>
								<select class="form-control" ng-model="faqGroup" ng-change="faqGroupSelect(faqGroup)">
									<option value="">Please select a Q&A Groups to continue...</option>
									<option ng-repeat="(key, group) in faqGroupList track by $index" ng-value="group.FAQId" ng-bind-html="group.Description"></option>
								</select>
								
							</div>
							<div class="col-md-12" ng-show="faqGroup">
								<hr />
								<div class="card">
									<div class="card-body bg-light">
										<form name="faqForm" ng-model="formDataItems" ng-submit="CreateFAQItem()">
											<div class="card-title m-0 w-100">
												<label class="m-0 w-100">
													<b ng-show="addFAQ">-</b><b ng-show="!addFAQ">+</b> Add new Q&A Items
													<input type="checkbox" ng-model="addFAQ" hidden />
												</label>
											</div>
											<fieldset ng-show="addFAQ" class="mt-3">
												<div class="mb-3">
													<label for="question" class="font-weight-bold">Question : </label>
													<input type="text" class="form-control w-100" ng-model="formDataItems.Question" name="question" placeholder="Question">
													<small><span ng-show="questionError" class="text-danger"><img src="img/error.png" class="icons-2" /> This is required</span></small>
												</div>
												<div class="mb-3">
													<label for="answer" class="font-weight-bold">Answer : </label>
													<!-- <input type="text" id="answer" class="form-control" ng-model="formDataItems.Answer" name="answer" placeholder="Answer"> -->
													<div text-angular ng-model="formDataItems.Answer" ta-text-editor-class="form-control textangular" ta-html-editor-class="form-control textangular"></div>
													<small><span ng-show="answerError" class="text-danger"><img src="img/error.png" class="icons-2" /> This is required</span></small>
												</div>
												
												<!-- <div class="form-group">
														<label for="answer">Sequence</label>
														<input type="text" id="answer" class="form-control"  ng-model="formDataItems.Sequence" name="answer" placeholder="Answer">
														<select class="form-control" ng-model="formDataItems.Sequence">
																					<option>Add to first row</option>
																					<option>after 1</option>
																					<option>after 2</option>
																					<option>Add to last row</option>
														</select>
												</div> -->
												<button type="submit" class="btn btn-success">Add</button>
												<button type="button" class="btn btn-secondary" ng-click="addFAQ = false; cancelAddItem()">Cancel</button>
												<!-- <button type="button" class="btn btn-info" ng-click="saveAsDraft()">Save as draft</button> -->
											</fieldset>
										</form>
										
									</div>
								</div>
								<!-- <ng-form name="QAitems" novalidate>
								</ng-form> -->
							</div>
						</div>
						<div class="row mt-3" ui-sortable="sortableOptions" ng-model="faqs.FAQItems" ng-show="faqGroup">
							<div class="col-md-12 mb-1 sortable-item" ng-repeat="(key, faq) in faqs.FAQItems">
								<div class="card">
									<div class="card-body position-relative d-flex flex-row pl-0 QA-body">
										<div class="d-flex align-items-center pr-2 pl-1 dragImage" >
											<img src="img/drag.png" data-toggle="tooltip" data-placement="right" title="Drag Me" />
										</div>
										<form ng-model="faq" name="faqItems" ng-submit="faqEdit(faq)">
											<div class="card-title font-weight-bold">
												<div ng-hide="toggleEdit">{{key + 1}}. <span ng-bind="faq.Question"></span></div>
												<div ng-show="toggleEdit"><input type="text" name="itemQuestion{{$index}}" class="form-control w-100" value="{{faq.Question}}" ng-model="faq.Question" /></div>
												<small><span ng-show="!faq.Question" class="text-danger font-weight-normal"><img src="img/error.png" class="icons-2" /> This is required</span></small>
											</div>
											<div>
												<div ng-hide="toggleEdit" ta-bind ng-model="faq.Answer"></div>
												<div ng-show="toggleEdit">
													<div text-angular ng-model="faq.Answer" ta-text-editor-class="form-control textangular" ta-html-editor-class="form-control textangular"></div>
													<small><span ng-show="!faq.Answer" class="text-danger font-weight-normal"><img src="img/error.png" class="icons-2" /> This is required</span></small>
												</div>
											</div>
											<div class="pt-3 d-flex flex-row mb-3" ng-show="toggleEdit" >
												<button type="submit" ng-click="toggleEdit = false" class="btn btn-success mr-1" ng-disabled="!faq.Answer || !faq.Question">Save</button>
												<button type="button" ng-click="toggleEdit = false; cancelEdit()" class="btn btn-secondary">Cancel</button>
											</div>
											<div class="position-absolute flex-row justify-content-end faqControl" ng-class="toggleEdit ? 'control-bottom' : 'control-top'">
												<div class="pr-3 btn-faq"><label class="m-0 cursor_pointer">Edit<input type="checkbox" ng-model="toggleEdit" hidden /></label></div>
												<div class="btn-faq" ng-click="deleteModal(faq.FAQItemId)">Delete</div>
											</div>
										</form>
										
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-group" role="tabpanel" aria-labelledby="nav-group-tab">
						<div class="row">
							<div class="col-md-12">
								<div class="card mt-2">
									<div class="card-body bg-light">
										<form name="faqForm" ng-model="formDataGroups" ng-submit="createFAQ()">
											<div class="card-title m-0 w-100">
												<label class="m-0 w-100">
													<b ng-show="addFAQGroup">-</b><b ng-show="!addFAQGroup">+</b> Add new Q&A Groups
													<input type="checkbox" ng-model="addFAQGroup" hidden />
												</label>
											</div>
											<fieldset ng-show="addFAQGroup" class="mt-2">
												<div>
													<label for="question">Group Name</label>
													<input type="text" class="form-control w-100" ng-model="formDataGroups.Description" name="description" placeholder="Group Name">
													<small><span ng-show="addGroupError" class="text-danger"><img src="img/error.png" class="icons-2" /> This is required</span></small>
												</div>
												<!-- <div class="form-group">
															<label for="answer">Sequence</label>
															<input type="text" id="answer" class="form-control"  ng-model="formDataItems.Sequence" name="answer" placeholder="Answer">
															<select class="form-control" ng-model="formDataItems.Sequence">
																	<option>Add to first row</option>
																	<option>after 1</option>
																	<option>after 2</option>
																	<option>Add to last row</option>
															</select>
												</div> -->
												<div class="mt-3">
													<button type="submit" class="btn btn-success">Add</button>
													<button type="button" class="btn btn-secondary" ng-click="addFAQGroup = false; cancelAddGroup()">Cancel</button>
												</div>
												
											</fieldset>
										</form>
										
									</div>
								</div>
								<!-- <ng-form name="QAitems" novalidate>
								</ng-form> -->
							</div>
						</div>
						<div class="row mt-3" ui-sortable="sortableGroupOptions" ng-model="faqGroupList">
							<div class="col-md-12 mb-1 sortable-item" ng-repeat="(key, faqGroup) in faqGroupList">
								<div class="card">
									<div class="card-body position-relative d-flex flex-row py-3">
										<div class="d-flex align-items-center pr-2 pl-1 dragImage" >
											<img src="img/drag.png" data-toggle="tooltip" data-placement="right" title="Drag Me" />
										</div>
										<form ng-model="faqGroup" ng-submit="faqGroupEdit(faqGroup)" class="w-100">
											<div class="card-title font-weight-bold m-0 d-flex flex-row">
												<div ng-hide="toggleGroupEdit" ng-bind="faqGroup.Description" class="m-0"></div>
												<!-- <div ng-show="toggleEdit"><input type="text" class="form-control" value="{{faq.Question}}" ng-model="faq.Question" /></div> -->
											</div>
											<div>
												<div ng-show="toggleGroupEdit">
													<!-- <div text-angular ng-model="faqGroup.Description"></div> -->
													<input type="text" class="form-control w-100" value="{{faqGroup.Description}}" ng-model="faqGroup.Description" />
													<small><span ng-show="!faqGroup.Description" class="text-danger font-weight-normal"><img src="img/error.png" class="icons-2" /> This is required</span></small>
												</div>
											</div>
											<div class="pt-3" ng-show="toggleGroupEdit">
												<button type="submit" ng-click="toggleGroupEdit = false" class="btn btn-success" ng-disabled="!faqGroup.Description">Save</button>
												<button type="button" ng-click="toggleGroupEdit = false; cancelGroupEdit()" class="btn btn-secondary">Cancel</button>
											</div>
											<div class="position-absolute flex-row justify-content-end faqControl" ng-class="toggleGroupEdit ? 'control-bottom' : 'control-top'">
												<div class="pr-3 btn-faq"><label class="m-0 cursor_pointer">Edit<input type="checkbox" ng-model="toggleGroupEdit" hidden /></label></div>
												<div class="btn-faq" ng-click="deleteGroupModal(faqGroup.FAQId)">Delete</div>
											</div>
										</form>
										
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- <div class="tab-pane fade" id="nav-drafts" role="tabpanel" aria-labelledby="nav-drafts-tab">
							<div class="row mt-2">
									<div class="col-md-12 text-center">
											<div class="" ng-if="getDraft.length <= 0 || !getDraft">
													No Draft
											</div>
									</div>
									<div class="col-md-12 mb-1 draft-item" ng-repeat="(key, draft) in getDraft track by $index">
											<div class="card">
													<div class="card-header d-flex flex-row w-100">
															<div class="w-75">
																	<span class="font-weight-bold">Group:</span> {{draft.GroupName}}
															</div>
															<div class="d-flex justify-content-end w-25">
																	<span class="font-weight-bold">Date: &nbsp;</span> {{draft.DraftDate | date:"dd MMM yyyy hh:mm a" }}
															</div>
													</div>
													<div class="card-body position-relative d-flex flex-row ">
															<form ng-model="draft" name="draftItems" ng-submit="CreateDraftItem(key, draft.FAQId, draft)">
																	<div class="card-title font-weight-bold">
																			<div ng-hide="toggleEdit">{{key + 1}}. {{draft.Question}}</div>
																			<div ng-show="toggleEdit"><input type="text" name="itemQuestion{{$index}}" class="form-control" value="{{draft.Question}}" ng-model="draft.Question" /></div>
																			<small><span ng-show="!draft.Question" class="text-danger font-weight-normal"><img src="img/error.png" class="icons-2" /> This is required</span></small>
																	</div>
																	<div>
																			<div ng-hide="toggleEdit" ta-bind ng-model="draft.Answer"></div>
																			<div ng-show="toggleEdit">
																					<div text-angular ng-model="draft.Answer" ta-text-editor-class="form-control textangular" ta-html-editor-class="form-control textangular"></div>
																					<small><span ng-show="!draft.Answer" class="text-danger font-weight-normal"><img src="img/error.png" class="icons-2" /> This is required</span></small>
																			</div>
																	</div>
																	<div class="pt-3 d-flex flex-row" ng-show="toggleEdit" >
																			<button type="submit" ng-click="toggleEdit = false" class="btn btn-success mr-1" ng-disabled="!draft.Answer || !draft.Question">Save</button>
																			<button type="button" ng-click="toggleEdit = false; cancelEdit()" class="btn btn-secondary">Cancel</button>
																	</div>
																	<div class="position-absolute flex-row justify-content-end faqControl" ng-class="toggleEdit ? 'control-bottom' : 'control-top'">
																			<div class="pr-3 btn-faq"><label class="m-0 cursor_pointer">Edit<input type="checkbox" ng-model="toggleEdit" hidden /></label></div>
																			<div class="btn-faq" ng-click="deleteDraftModal(key)">Delete</div>
																	</div>
															</form>
															
													</div>
											</div>
											
									</div>
									
							</div>
					</div> -->
				</div>
			</div>
		</div>
		
	</div>
	<div class="modal fade" id="confirmDeleteRequest" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteRequest" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-normal">
					Are you sure you want to delete this Q&A Items?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="deleteFAQ()">Confirm</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="confirmDeleteGroupRequest" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteGroupRequest" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-normal">
					Are you sure you want to delete this Q&A Groups?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="deleteGroupFAQ()">Confirm</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="confirmDeleteDraftRequest" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteRequest" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-normal">
					Are you sure you want to delete this draft?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="deleteDraft()">Confirm</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="confirmPublish" tabindex="-1" role="dialog" aria-labelledby="confirmPublish" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Publish Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-normal">
					Are you sure you want to publish this FAQ to live site?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="confirmPublish()">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" nonce="bZ8jf8rFtd">
	$('.btnInTab').click(function(e){
		e.preventDefault();
	});
</script>