<div class="animated fadeIn hv-edit-order-item-page" ng-controller="NotiEditCtrl">
	<h3 class="lgt-page-name">Edit Details - {{notification.emailTemplate}}</h3>
	<div class="lgt-back">
		<a href="" ui-sref="app.configuration.notification.list">
			<i class="fa fa-arrow-circle-left"></i> back to Email Notification list</a>
		<button type="submit" style="float: right;position: relative;bottom: 10px;" class="btn btn-primary btSave">Save</button>
	</div>
	<!-- content -->
	<div class="block-status card-body">
		<div class="form-group row">
			<div class="col-md-3 text-right" style="padding-top: 5px;">
				<span class="update-status">System Template Name :</span>
				<span class="col-md-1 col-xs-1 col-sm-1"></span>
			</div>
			<div class="col-md-8">
				{{notification.emailTemplate}}
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-3 text-right" style="padding-top: 5px;">
				<span class="update-status">Email Template Name :</span>
				<span class="col-md-1 col-xs-1 col-sm-1"></span>
			</div>
			<div class="col-md-8">
				<input class="form-control" type="text" ng-model="notification.emailTemplate">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-3 text-right" style="padding-top: 5px;">
				<span class="update-status">Email Subject :</span>
				<span class="col-md-1 col-xs-1 col-sm-1"></span>
			</div>
			<div class="col-md-8">
				<input class="form-control" type="text" ng-model="notification.subject">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-3 text-right" style="padding-top: 5px;">
				<span class="update-status">Email Body :</span>
				<span class="col-md-1 col-xs-1 col-sm-1"></span>
			</div>
			<div class="col-md-8">
				<textarea id="mytextarea">{{notification.description}}</textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-3 text-right" style="padding-top: 5px;">
				<span class="update-status">Status :</span>
				<span class="col-md-1 col-xs-1 col-sm-1"></span>
			</div>
			<div class="col-md-2">
				<select name="select" class="form-control" size="1">
					<option value="1" selected>Active</option>
					<option value="2">Pending</option>
				</select>
			</div>
		</div>
	</div>
</div>