<style>
	th,
	td {
		padding-bottom: 10px;
	}

	.lgt-right-part {
		display: none;
	}
</style>
<div class="lgt-back">
	<a href="" ui-sref="app.products.list">
		<i class="fa fa-arrow-circle-left"></i> back to Order Detail</a>
	<button type="submit" style="float: right;position: relative;bottom: 10px;" class="btn btn-primary btSave">Save</button>
</div>
<div class="nav-tabs-custom" ng-controller="ProductsEditCtrl">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a style="padding-left: 30px;padding-right: 30px;" href="#tab_4" class="nav-link active" ui-sref-active="active">Info</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab_4">
			<div class="container">
				<div class="row" style="border: 1px solid #d9dada;">
					<div id="Translation">
						<div class="block-compilation-content">
							<div class="block-item-detail" style="width: 100%;">

								<div class="card-body">
									<div class="hv-box-item-detail">
										<div class="lgt-box-header">
											<h6 class="lgt-box-name" style="font-size: 30px;">General Infomation</h6>
										</div>
										<div class="lgt-box-main">
											<table class="lgt-tbl" style="margin: 20px 60px;">
												<tr>
													<th class="lgt-td-key text-right">Product ID :</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<span>{{product.ID}}</span>
													</td>
												</tr>

												<tr>
													<th class="lgt-td-key text-right">Product Category :</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<span>{{product.Category_Code}}</span>
													</td>
												</tr>
												<tr>
													<th class="lgt-td-key text-right">Product Name :</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<span>{{product.Rule_Name}}</span>
													</td>
												</tr>
												<tr>
													<th class="lgt-td-key text-right">Format :</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<span>{{product.Format}}</span>
													</td>
												</tr>
												<tr>
													<th class="lgt-td-key text-right">Unit of Measurement (UDM) :</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<select name="select" class="form-control" size="1">
															<option value="1" selected>From Locker</option>
															<option value="2">Pending Quatation</option>
															<option value="3">Verifying Request</option>
														</select>
													</td>
												</tr>
												<tr>
													<th class="lgt-td-key text-right">Unit per Set :</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<input class="form-control" ng-model="product.Unit_Per_Set" type="text">
													</td>
												</tr>
												<tr>
													<th class="lgt-td-key text-right">Unit Rate :</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<input class="form-control" ng-model="product.Unit_Rate" type="text">
													</td>
												</tr>
												<tr>
													<th class="lgt-td-key text-right">Created Date :</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<input class="form-control" type="date">
													</td>
												</tr>
												<tr>
													<th class="lgt-td-key text-right">Created By:</th>
													<td class="lgt-td-value text-left" style="padding-left: 50px;">
														<span>{{product.Created_By_User_ID}}</span>
													</td>
												</tr>
											</table>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.tab-pane -->

	</div>
	<!-- /.tab-content -->
</div>
<!-- nav-tabs-custom -->