<div>
	<div class="animated fadeIn">

		<!-- form search products -->
		<!--<div class="accordion" id="lgt-search-filter">-->
			<div class="card">
				<!--<div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#lgt-search-filter-main" aria-expanded="false"
				  aria-controls="lgt-search-filter-main">
					<i class="zmdi zmdi-window-minimize"></i>
					<h5 class="mb-0 text-center">
						<button class="btn btn-link collapsed" type="button">
							Search Filter
						</button>
					</h5>
				</div>-->
				<!--<div id="lgt-search-filter-main" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
					<div class="card-body">
						<form class="form-horizontal group-border-dashed" action="#" novalidate="" method="post">
							<div class="container">
		
								<div class="row">
									<div class="col-sm-7">
										<div class="form-group">
											<label class="col-sm-5 text-left control-label">Product Name</label>
											<div class="col-sm-7">
												<input type="text" class="form-control form-control-event-setup" required="" parsley-type="email" placeholder="" data-parsley-id="40">
											</div>
										</div>
		
										<div class="form-group">
											<label class="col-sm-5 text-left control-label">Product Format</label>
											<div class="col-sm-7">
												<input type="text" class="form-control" required="" placeholder="" data-parsley-id="34">
											</div>
										</div>
									</div>
								</div>
		
								<div class="row text-center">
									<a href="#custom-modal" id="lgt-btn-search" class="btn btn-default waves-effect w-md waves-light m-b-5" data-animation="fadein"
									  data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">Search</a>
								</div>
							</div>
						</form>
					</div>
				</div>-->
			</div>
		</div>

		<div class="list-orders">
            <div class="card-body">
                <div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm pull-right" items-per-page="itemsPerPage"></div>
                <table class="table table-striped accordion" id="lgt-tbl-products-list">
                    <thead>
                        <tr class="head-table-orders">
                            <!--<th>
                                <input ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox" />
                            </th>-->
                            <!--<th>No</th>-->
                            <th>Category Name</th>
                            <th>Category Code</th>
                            <th>Rule Name</th>
                            <th>Reproduction Type</th>
                            <th>Format</th>
                            <th>UOM</th>
                            <th>Unit Per Set</th>
                            <th>Unit Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="body-table-orders accordion-toggle" ng-repeat="(key, rule) in rules.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" data-orderid="{{product.id}}">
                            <!--<td>
                                <input ng-model="product.selected" ng-change="optionToggled()" type="checkbox" />
                            </td>-->
                            <!--<td>{{key + 1}}</td>-->
                            <td>{{rule.CategoryDescription}}</td>
                            <td>{{rule.CategoryCode}}</td>
                            <td>{{rule.Description}}</td>
                            <td>{{rule.FullOrPartial}}</td>
                            <td>{{rule.Format}}</td>
                            <td>{{rule.UOM}}</td>
                            <td>{{rule.UnitPerSet}}</td>
                            <td>{{rule.SetPrice}}</td>
                            <!--<td>
                    <i class="zmdi zmdi-eye" ng-click="$state.go('app.products.edit', { 'id': product.ID })"></i>
                </td>-->
                        </tr>

                    </tbody>
                </table>
            </div>
		</div>
		<!-- end form search order -->

	</div>
</div>