<div class="animated fadeIn lgt-page lgt-order-page" ng-controller="ProductsCtrl">
	<div class="lgt-page-header">
		<div class="lgt-left-part">
			<h3 class="lgt-page-name">{{$state.current.ncyBreadcrumb.label}}</h3>
			<p class="lgt-page-description">{{$state.current.params.subtitle}}</p>
		</div>
		<div class="lgt-right-part">

			<!--<div class="btn-group">
				<button class="btn lgt-btn lgt-btn-export" data-toggle="dropdown">
					<i class="icon-cloud-download"></i>Export
				</button>
				<button class="btn dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu" x-placement="bottom-start">
					<a class="dropdown-item btn-export-csv" href="#" ng-click="actionExport('csv')">
						<i class="fa fa-file-o"></i>CSV
					</a>
					<a class="dropdown-item btn-export-excel" href="#" ng-click="actionExport('excel')">
						<i class="fa fa-file-excel-o"></i>EXCEL
					</a>
					<a class="dropdown-item btn-export-pdf" href="#" ng-click="actionExport('pdf')">
						<i class="fa fa-file-pdf-o"></i>PDF
					</a>
					<a class="dropdown-item btn-print" href="#" ng-click="actionExport('print')">
						<i class="fa fa-print"></i>Print
					</a>
				</div>
			</div>-->
			<button class="btn lgt-btn lgt-btn-generate-quotation" ng-show="showBtn('generateQuotation')">
				<i class="fa fa-file-text-o"></i>Generate Quotation
			</button>
			<button class="btn lgt-btn lgt-btn-deliver" ng-click="$state.go('app.orders.delivery')" ng-show="showBtn('deliver')">
				<i class="fa fa-truck"></i>Deliver
			</button>
		</div>
	</div>

	<div class="lgt-back" ng-show="$state.current.data.back == true">
		<a href="" ng-click="$state.go($state.current.data.backto)"><i class="fa fa-arrow-circle-left"></i> back to Order List</a>
	</div>
	<!-- Custom Tabs -->
	<div class="lgt-page-main">

		<ui-view></ui-view>

	</div>

</div>
