<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ui-sref="app.orders.list"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">
        <i style="color: #fff;font-size: 16px;" class="icon-menu"></i>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto d-md-down-none">
      <li class="nav-item">
          <b>Username:</b> {{username}}
      </li>
    <li class="nav-item">
        <a class="logoff-btn" ng-click="logoff()">Logout</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link navbar-toggler aside-menu-toggler" href="#">
        <i style="color: #fff;font-size: 14px;" class="icon-settings"></i>
      </a>
    </li>

  </ul>
</header>