<div class="sidebar" ng-controller="lgtSidebarCtrl">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li style="background-color:#255470">
        <div class="position-relative">
          <div class="text-center">
            <label class="m-0 w-100 h-100 py-3">
              <input type="checkbox" ng-model="toggleTenant" hidden>
              <div>
                <img src="img/icn_Big.png" class="pb-1" /><img ng-show="tenants.length > 1" src="img/sort_down.png" class="pb-1" style="width:15px" />
              </div>
              
              {{selectedName ? selectedName : "Select a tenant"}}
            </label>
          </div>
          <div class="position-absolute tenant_options w-100" ng-if="tenants.length > 1" ng-show="toggleTenant">
            <ul class="p-0 w-100">
              <li ng-repeat="t in tenants track by $index"><a ng-click="selectTenant(t.TenantCode)" class="d-block w-100 h-100 cursor_pointer">{{t.Description}}</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <form role="search" class="app-search">
          <input type="text" placeholder="Search..." class="form-control">
          <a href="">
            <i class="fa fa-search"></i>
          </a>
        </form>
      </li>
      <li ng-repeat="menuItem in selectedTenants[0].Menus | orderBy: 'MenuSerialNo'" class="nav-item" ng-class="{'nav-dropdown': menuItem.SubMenus.length > 0, open: $state.includes(menuItem.Url)}" ng-show="selectedTenants[0].Menus.length > 0">
        <a ng-show="menuItem.SubMenus.length > 0" class="nav-link nav-dropdown-toggle cursor_pointer" ng-class="{active: $state.includes(menuItem.Url)}"  >
          <i ng-class="menuItem.Image"></i>{{menuItem.Description}}
        </a>
        <a ng-hide="menuItem.SubMenus.length > 0" class="nav-link cursor_pointer" ng-class="{active: $state.includes(menuItem.Url)}" >
          <i ng-class="menuItem.Image"></i>{{menuItem.Description}}
        </a>
        <ul class="nav-dropdown-items" ng-show="menuItem.SubMenus.length > 0">
          <li class="nav-item" ng-repeat="subItem in menuItem.SubMenus | orderBy: 'MenuSerialNo'">
            <a class="nav-link" ui-sref-active="active" ui-sref="{{subItem.Url}}">
              <i class="fa fa-dot-circle-o"></i> {{subItem.Description}}
            </a>
          </li>
        </ul>
        
      </li>
    <!--   <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.configuration.faq">
          <i class="fa fa-dot-circle-o"></i> FAQ
        </a>
      </li> -->
      <!--       <li class="nav-item nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle cursor_pointer">
          <i class="fa fa-cubes"></i>Configuration
        </a>
        <ul class="nav-dropdown-items" ng-class="{active: 'app.configuration'}">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.configuration.accesscontrol">
              <i class="fa fa-dot-circle-o"></i> Access Control
            </a>
          </li>
        </ul>
        
      </li> -->
      <!--  <li ng-repeat="menuItem in menuItems" class="nav-item" ng-class="{'nav-dropdown': menuItem.subMenu.length > 0, open: $state.includes(menuItem.href)}" >
        <a ng-show="menuItem.subMenu.length > 0" class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes(menuItem.href)}" href="{{menuItem.subMenu.length > 0 ? '#' : menuItem.href}}" target="{{menuItem.blank ? '_blank' : ''}}" >
          <i ng-class="menuItem.icon"></i> {{menuItem.title}}
        </a>
        <a ng-hide="menuItem.subMenu.length > 0" class="nav-link" ng-class="{active: $state.includes(menuItem.href)}" href="{{menuItem.href}}" target="{{menuItem.blank ? '_blank' : ''}}">
          <i ng-class="menuItem.icon"></i> {{menuItem.title}}
        </a>
        <ul class="nav-dropdown-items" ng-if="menuItem.subMenu.length > 0">
          <li class="nav-item" ng-repeat="subItem in menuItem.subMenu">
            <a class="nav-link" target="{{subItem.blank ? '_blank' : ''}}" ui-sref-active="active" ui-sref="{{subItem.href}}">
              <i ng-class="subItem.icon ? subItem.icon : 'fa fa-dot-circle-o'"></i> {{subItem.title}}
            </a>
          </li>
        </ul>
      </li> -->
    </ul>
  </nav>
</div>