<div class="container-fluid" ng-controller="accesscontrolCtrl" id="accessControl">
	<div class="row">
		<div class="col-md-12 p-0" style="overflow:auto; width:100%">
			<table class="table table-striped">
				<thead>
					<tr class="head-table-orders">
						<th width="10%">ID</th>
						<th width="10%">User Group</th>
						<th width="5%">Code</th>
						<th class="text-center" ng-repeat="header in accessData.Menus">{{header.Description}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key1, group) in accessData.Groups">
						<td class="p-3 align-middle">{{group.GroupId}}</td>
						<td class="p-3 font-weight-bold align-middle">{{group.SSOAGroup}}</td>
						<td class="p-3 align-middle">{{group.TenantCode}}</td>
						<td class="align-middle" ng-repeat="(key2, menu) in group.Menus track by $index">
							<div class="w-100 d-flex justify-content-center">
								<select class="form-control" ng-model="menu.IsAccessible" ng-change="accessControlModal(key1, key2)">
									<option ng-value="true">Allowed</option>
									<option ng-value="false">-</option>
								</select>
							</div>
							<div id="accessControlConfirmation{{key1}}{{key2}}" class="modal accessControlConfirmation">
								<div class="modal-dialog modal-dialog-centered my-0">
									<!-- Modal content -->
									<div class="modal-content">
										<div class="modal-header">
											<span data-dismiss="modal" class="close">&times;</span>
											<h3>Access control confirmation</h3>
										</div>
										<div class="modal-body">
											Are you sure you want to change <b>{{group.SSOAGroup}}</b> access control for page <b>{{menu.Description}}</b> to <b>{{menu.IsAccessible == true ? 'Allowed' : 'Disallow'}}</b>
										</div>
										<div class="modal-footer">
											<div class="row flexbox fe-footer-row">
												<button data-dismiss="modal" type="button" class="btn cancel-btn" ng-click="resetAccessControl()">Cancel</button>
												<button data-dismiss="modal" type="button" class="btn fe-btn" ng-click="updateAccessControl(menu.MenuId ,group.GroupId, menu.IsAccessible)">Confirm</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>