<div class="report">
    <div class="card-body">
        <form ng-model="excelData">
            <div class="excelControl">
                <div class="form-group">
                    <label class="col-md-1" for="dateFrom">Date From : </label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="dateFrom" placeholder="date from" ng-model="excelData.FromDate">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-1" for="dateTo">Date To :</label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="dateTo" placeholder="date to" ng-model="excelData.ToDate">
                    </div>
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <label class="col-md-1" for="dateTo"></label>
                    <div class="btn-group mr-2 col-md-3" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary mr-1" ng-click="dataSubmit()">Filter</button>
                        <button type="button" class="btn btn-success" ng-csv="csvData" filename="{{getFileName()}}"
                                csv-header="csvHeader" csv-column-order="csvOrder" charset="utf-8">
                            <img class="icons8" src="img/excel.png" /> Export [{{DeliveryOrders.length}}]
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br />
        <div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm pull-right" items-per-page="itemsPerPage"></div>
        <div style="overflow:auto; width:100%">
 
            <table class="table table-striped accordion lgt-table" style="background-color:white" ng-if="DeliveryOrders">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Category Code</th>
                        <th>Requestor Name</th>
                        <th>Method Description</th>
                        <th>Method Instruction</th>
                        <th>Internal Description</th>
                        <th>Format</th>
                        <th>Created Date</th>
                        <th>Due Date</th>
                        <th>Last Modified Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,item) in DeliveryOrders.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <th>{{item.ItemCode}}</th>
                        <td>{{item.CategoryCode}} </td>
                        <td>{{item.RequestorName }} </td>
                        <td>{{item.MethodDescription}}</td>
                        <td>{{item.MethodInstruction}} </td>
                        <td>{{item.InternalDescription}}</td>
                        <td>{{item.Format}}</td>
                        <td>{{item.CreatedDate | date:"dd-MM-yyyy HH:mm a"}}</td>
                        <td>{{item.DueDate | date:"dd-MM-yyyy HH:mm a"}}</td>
                        <td>{{item.LastModifiedDate | date:"dd-MM-yyyy HH:mm a"}}</td>

                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

