﻿<div class="report">
    <div class="card-body">
        <form ng-model="excelData">
            <div class="excelControl">
                <div class="form-group">
                    <label class="col-md-1" for="dateFrom">Transaction Type : </label>
                    <div class="col-md-3">
                        <select ng-model="excelCategory" ng-change="selectCategory()" class="form-control">
                            <option value="rs">
                                Transaction Report Summary by Transaction
                            </option>
                            <option value="pt">
                                Payment Transaction Report
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1" for="dateFrom">Date From : </label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="dateFrom" placeholder="date from" ng-model="excelData.FromDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1" for="dateTo">Date To :</label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="dateTo" placeholder="date to" ng-model="excelData.ToDate">
                    </div>
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <label class="col-md-1" for="dateTo"></label>
                    <div class="btn-group mr-2 col-md-3" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary mr-1" ng-click="dataSubmit()">Filter</button>
                        <button type="button" class="btn btn-success" ng-csv="csvData" filename="{{getFileName()}}"
                        csv-header="csvHeader" csv-column-order="csvOrder" charset="utf-8">
                        <img class="icons8" src="img/excel.png" /> Export [{{ excelCategory == 'pt' ? PaymentTrans.length : TransSummary.length }}]
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br />
        
        <div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm pull-right" items-per-page="itemsPerPage"></div>
        <div class="w-100" style="overflow:auto;">
            <div ng-if="excelCategory == 'rs' && TransSummary">
                <table class="table table-striped accordion lgt-table" style="background-color:white">
                    <thead>
                        <tr>
                            <th>Terminal ID</th>
                            <th>Order Code</th>
                            <th>Transaction Ref</th>
                            <th>Payment Method</th>
                            <th>Amount Before GST</th>
                            <th>Actual GST Amount</th>
                            <th>Actual Item Amount</th>
                            <th>Transaction Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,item) in TransSummary.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <th>{{item.TerminalID}}</th>
                            <td>{{item.OrderCode}} </td>
                            <td>{{item.TransactionRef}} </td>
                            <td>{{item.PaymentMethod}}</td>
                            <td>{{item.AmountBeforeGST}} </td>
                            <td>{{item.ActualGSTAmount}}</td>
                            <td> {{item.ActualItemAmount}}</td>
                            <td>{{item.TransactionDate | date:"dd-MM-yyyy"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="excelCategory == 'pt' && PaymentTrans">
                <table class="table table-striped accordion lgt-table" style="background-color:white">
                    <thead>
                        <tr>
                            <th>Request No.</th>
                            <th>Quotation Item Id</th>
                            <th>Order No.</th>
                            <th>Source No.</th>
                            <th>Transaction ID</th>
                            <th>Tax Invoice No.</th>
                            <th>Collection Date</th>
                            <th>Revenue Category / GL Code (for reports before 1 June)</th>
                            <th>Service Code</th>
                            <th>Item Desc</th>
                            <th>Item Desc 2</th>
                            <th>Fund Code</th>
                            <th>Amount before GST</th>
                            <th class="text-red">Add: GST</th>
                            <th>Amount after GST</th>
                            <th class="text-red">Less: Charges</th>
                            <th>Amount received in Bank</th>
                            <th class="text-red">Merchant / Terminal ID</th>
                            <th>Payment Mode</th>
                            <th>PAYPAL</th>
                            <th>CashCard</th>
                            <th>NETS</th>
                            <th>EZLINK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,item) in PaymentTrans.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{item.RequestNo}}</td>
                            <td>{{item.QuoteItemId}}</td>
                            <td>{{item.OrderNo}}</td>
                            <td>{{item.SourceNo}}</td>
                            <td>{{item.TransactionID}}</td>
                            <td>{{item.InvoiceNo}}</td>
                            <td>{{item.CollectionDate | date:'dd-MM-yyyy'}} </td>
                            <td>{{item.GLAccount}} </td>
                            <td>{{item.ServiceCode}}</td>
                            <td>{{item.ItemDescription}} </td>
                            <td>{{item.ItemDescription2}} </td>
                            <td>{{item.FundCode}}</td>
                            <td> {{item.AmountBeforeGST}}</td>
                            <td>{{item.GSTAmount}}</td>
                            <td>{{item.AmountAfterGST}}</td>
                            <td>{{item.LessCharges}}</td>
                            <td>{{item.AmountReceivedInBank}}</td>
                            <td>{{item.TerminalID}}</td>
                            <td>{{item.PaymentMode}}</td>
                            <td>{{item.PAYPAL}}</td>
                            <td>{{item.PAYNOW}}</td>
                            <td>{{item.NETS}}</td>
                            <td>{{item.EZLINK}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>