﻿<div class="report">
    <div class="card-body">
        <form ng-model="excelData">
            <div class="excelControl">
                <div class="form-group">
                    <label class="col-md-1" for="dateFrom">Order Type : </label>
                    <div class="col-md-3">
                        <select ng-model="excelCategory" ng-change="selectCategory()" class="form-control">
                            <option value="os">
                                Order Summary
                            </option>
                            <option value="od">
                                Order Details
                            </option>
                            <option value="ad">
                                Attachment Download Log
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1" for="dateFrom">Date From : </label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="dateFrom" placeholder="date from" ng-model="excelData.FromDate">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-1" for="dateTo">Date To :</label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="dateTo" placeholder="date to" ng-model="excelData.ToDate">
                    </div>
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <label class="col-md-1" for="dateTo"></label>
                    <div class="btn-group mr-2 col-md-3" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary mr-1" ng-click="dataSubmit()">Filter</button>
                        <button type="button" class="btn btn-success" ng-csv="csvData" filename="{{getFileName()}}"
                                csv-header="csvHeader" csv-column-order="csvOrder" charset="utf-8">
                            <img class="icons8" src="img/excel.png" /> Export [{{ excelCategory == 'os' ? OrderSummary.length : excelCategory == 'od' ? OrderDetails.length : AttachDownloadLogs.length}}]
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br />
        <div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm pull-right" items-per-page="itemsPerPage"></div>
        <div style="overflow:auto; width:100%">
            <table class="table table-striped accordion lgt-table" style="background-color:white" ng-if="excelCategory == 'os' && OrderSummary">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Requestor Name</th>
                        <th>Type of Order</th>
                        <th>Context of Use</th>
                        <th>Nationality</th>
                        <th>Purpose of Use</th>
                        <th>Last Modified</th>
                        <th>Created On</th>
                        <th>Total no. of items</th>
                        <th>Total no. of physical items</th>
                        <th>No. of Item with Open Status (Patron-view)</th>
                        <th>No. of Pending Verification (Patron - view)</th>
                        <th>No. of Item Processing(Patron - view)</th>
                        <th>No. of Item Pending Payment (Patron-view)</th>
                        <th>No. of Item Pending Verification (Patron-view)</th>
                        <th>No. of Item Pending Collection (Patron-view)</th>
                        <th>No. of Item Completed (Patron-view)</th>
                        <th>No. of Item Cancelled (Patron-view)</th>
                        <th>No. of Item with other Status (Patron-view)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,item) in OrderSummary.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <th>{{item.OrderCode}}</th>
                        <td>{{item.RequestorName}} </td>
                        <td>{{item.TypeofOrder}} </td>
                        <td>{{item.ContextofUse}} </td>
                        <td>{{item.Nationality}} </td>
                        <td>{{item.PurposeofUse}} </td>
                        <td>{{item.ModifedDate | date:"dd-MM-yyyy"}} </td>
                        <td>{{item.CreatedDate | date:"dd-MM-yyyy"}}</td>
                        <td>{{item.ItemsCount}}</td>
                        <td>{{item.PhysicalItemsCount}}</td>
                        <td>{{item.Open}}</td>
                        <td>{{item.Verifying_Request }}</td>
                        <td>{{item.Processing }}</td>
                        <td>{{item.PendingPayment }}</td>
                        <td>{{item.PendingVerification }}</td>
                        <td>{{item.PendingCollectionViewing }}</td>
                        <td>{{item.Completed }}</td>
                        <td>{{item.Cancelled }}</td>
                        <td>{{item.CompletedResultNotFound }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped accordion lgt-table" style="background-color:white" ng-if="excelCategory == 'od' && OrderDetails">
                <thead>
                    <tr>
                        <th>Item #</th>
                        <th>Work Order #</th>
                        <th>Category</th>
                        <th>Requestor Name</th>
                        <th>Context of Use </th>
                        <th>Nationality</th>
                        <th>Purpose of Use</th>
                        <th>Rejection Reason</th>
                        <th>Organisation</th>
                        <th>Research Topic</th>
                        <th>Last Modified</th>
                        <th>Created On</th>
                        <th>Source No.</th>
                        <th>Record Title</th>
                        <th>Format</th>
                        <th>Record Status (internal)</th>
                        <th>Record Status (Public)</th>
                        <th>Payment Status</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,item) in OrderDetails.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <td>{{item.ItemCode}}</td>
                        <td>{{item.GroupCode}}</td>
                        <td>{{item.CategoryCode}}</td>
                        <td>{{item.RequestorName}}</td>
                        <td>{{item.ContextofUse}}</td>
                        <td>{{item.Nationality}}</td>
                        <td>{{item.PurposeofUse}}</td>
                        <td>{{item.RejectionReason}}</td>
                        <td>{{item.Organisation}}</td>
                        <td>{{item.ResearchTopic}}</td>
                        <td>{{item.LastModifiedUserId | date:"dd-MM-yyyy"}} </td>
                        <td>{{item.CreatedDate | date:"dd-MM-yyyy"}}</td>
                        <td> {{item.SourceNo}}</td>
                        <td>{{item.SourceTitle }}</td>
                        <td>{{item.Format }}</td>
                        <td>{{item.InternalDescription }}</td>
                        <td>{{item.PublicDescription }}</td>
                        <td>{{item.PaymentStatus }}</td>
                        <td>{{item.Remarks}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped accordion lgt-table" style="background-color:white" ng-if="excelCategory == 'ad' && AttachDownloadLogs">
                <thead>
                    <tr>
                        <th>Order Item ID</th>
                        <th>Order ID</th>
                        <th>Record Title</th>
                        <th>Attachment Filename</th>
                        <th>Format</th>
                        <th>Download Date / Time</th>
                        <th>Download Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,item) in AttachDownloadLogs.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <th>{{item.ItemCode}}</th>
                        <td>{{item.OrderCode}} </td>
                        <td>{{item.SourceTitle }} </td>
                        <td>{{item.Filename}}</td>
                        <td>{{item.FileFormat}} </td>
                        <td>{{item.DownloadDate | date:"dd-MM-yyyy HH:mm a"}}</td>
                        <td>{{item.DownloadLocation}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

