<style>
    .lgt-page-header,
    .nav-tabs {
        display: none;
    }

    .nav-tabs-custom > .tab-content {
        background: #eee;
        border: navajowhite;
    }
</style>
<div class="hv-deliver-page" ng-controller="OrderEditCtr">
    <div class="lgt-left-part">
        <h3 class="lgt-page-name">Delivery Details</h3>
    </div>
    <div class="lgt-back">
        <a href="" ui-sref="app.orders.order.product">
            <i class="fa fa-arrow-circle-left"></i> back to Order Detail
        </a>
    </div>
    <div class="hv-deliver-body">
        <div>
            <form class="form-horizontal group-border-dashed" ng-submit="deliveryUpdateSubmit($event)" ng-model="deliveryformData">
                <div class="container">
                    <div class="row">
                        <div class="deliver-table-left col-sm-7">
                            <table class="lgt-tbl">
                                <tr>
                                    <th class="lgt-td-key">Delivery Status :</th>
                                    <td>
                                        <select class="delivery-status hv-form-input" name="d-status" ng-change="changeStatusCode()" ng-model="deliveryformData.deliveryStatus">
                                            <option>Delivery Generated</option>
                                            <option>Delivered</option>
                                        </select>
                                        <input type="text" name="statuscode" ng-model="deliveryformData.statuscode" hidden />
                                    </td>
                                </tr>

                                <tr>
                                    <th class="lgt-td-key">Delivery Option :</th>
                                    <td class="lgt-td-value">
                                        <div class="btn-group">
                                            <button class="btn lgt-btn lgt-btn-drpdown" data-toggle="dropdown">
                                                <span class="ng-binding" ng-if="deliveryformData.option_value == null">- Select -</span>
                                                <span ng-if="deliveryformData.option_value == 1">Download</span>
                                                <span ng-if="deliveryformData.option_value == 2">From Locker</span>
                                                <span ng-if="deliveryformData.option_value == 3">From ARR Staff</span>
                                                <span ng-if="deliveryformData.option_value == 4">Postal</span>
                                                <span ng-if="deliveryformData.option_value == 5">Email</span>
                                                <span ng-if="deliveryformData.option_value == 6">View Onsite VARR Terminal</span>
                                            </button>
                                            <button class="btn dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <input type="text" ng-model="deliveryformData.option_value" ng-value="deliveryformData.option_value" hidden />
                                            <div class="dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item" ng-click="deliveryformData.option_value = 1">Download</a>
                                                <a class="dropdown-item" ng-click="deliveryformData.option_value = 2">From Locker</a>
                                                <a class="dropdown-item" ng-click="deliveryformData.option_value = 3">From ARR Staff</a>
                                                <a class="dropdown-item" ng-click="deliveryformData.option_value = 4">Postal</a>
                                                <a class="dropdown-item" ng-click="deliveryformData.option_value = 5">Email</a>
                                                <a class="dropdown-item" ng-click="deliveryformData.option_value = 6">View Onsite VARR Terminal</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="lgt-tbl">
           
                                <tr ng-if="deliveryformData.option_value == 2">
                                    <th class="lgt-td-key">Locker No.:</th>
                                    <td class="lgt-td-value">
                                       
                                        <input type="text" class="hv-form-input" placeholder="Enter text" ng-model="deliveryformData.locker_no">
                                    </td>
                                </tr>
                                <tr ng-if="deliveryformData.option_value == 2">
                                    <th class="lgt-td-key">Pin No.:</th>
                                    <td class="lgt-td-value">
                                        <input type="text" class="hv-form-input" placeholder="Enter text" ng-model="deliveryformData.pin_no">
                                    </td>
                                </tr>

                                <tr ng-if="deliveryformData.option_value == 4">
                                    <th class="lgt-td-key">Tracking no.:</th>
                                    <td class="lgt-td-value">
                                        <input type="text" value="" class="hv-form-input" placeholder="Enter text" ng-model="deliveryformData.tracking_no">
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="search-table-right col-sm-5">
                            <div class="form-group" ng-if="deliveryformData.option_value != 5">
                                <label class="col-sm-5 text-left control-label">Valid Date</label>
                                <div class="col-sm-7">
                                    <select class="select-quotation" name="status" ng-model="deliveryformData.valid_date">
                                        <option>{{ DeliveryInfo.Delivery_Date | date:'dd-MM-yyyy'}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-if="deliveryformData.option_value != 5">
                                <label class="col-sm-5 text-left control-label">Valid Until:</label>
                                <div class="col-sm-7">
                                    <select class="select-quotation" name="status" ng-model="deliveryformData.valid_until">
                                        <option>{{ DeliveryInfo.Delivery_ValidTill | date:'dd-MM-yyyy'}}</option>
                                    </select>
                                    <span>
                                        <i>default is 60 days</i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-if="deliveryformData.option_value == 5">
                                <label class="col-sm-5 text-left control-label">Send Date</label>
                                <div class="col-sm-7">
                                    <label class="text-left control-label">18-Nov-18</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5" style="padding-top: 5px;">
                                    <span class="update-status text-left control-label">Extend Until :</span>
                                    <span class="col-md-1 col-xs-1 col-sm-1"></span>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group form-control-event-setup">
                                        <input type="text" class="form-control" id="datepicker-enddate" ng-model="deliveryformData.valid_extend">
                                        <!--<span class="input-group-addon bg-primary b-0 text-white">
                                            <i class="ti-calendar"></i>
                                        </span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hv-deliver-btn">
                        <!--Original Class : hv-deliver-button-->
                        <a class="btn btn-default btCancel" href="" ui-sref="app.orders.order.product"> Cancel</a>
                        <!--<button type="submit" class="btn btn-primary btSave">Generate</button>-->
                        <input type="submit" value="Update" class="btn btn-primary btSave" />
                    </div>
                </div>

                <div class="lgt-box-header" ng-if="deliveryformData.option_value == 5">
                    <h6 class="lgt-box-name">Email Preview</h6>
                </div>

            </form>
        </div>
        <div class="item-repeat" ng-repeat="item in  DeliveryList">

                <div class="hv-deliver-body-content" ng-if="deliveryformData.option_value != 5">
                    <div class="header collapsed" id="heading-{{$index}}" data-toggle="collapse"
                         data-target="#quotation-{{$index}}" aria-expanded="false" aria-controls="lgt-search-filter-main">
                        Item: {{item.ACC_NO}}
                    </div>
                    <div id="quotation-{{$index}}" class="collapse show" aria-labelledby="heading-{{$index}}" data-parent="#accordionExample">
                        <div>
                            <div>
                                <div class="block-compilation">
                                    <div class="block-compilation-content">
                                        <div class="block-item-detail" style="width:100% !important;">
                                            <div class="card-body">
                                                <div class="hv-box-item-detail">
                                                    <div class="lgt-box-header">
                                                        <h6 class="lgt-box-name">ITEM DETAIL</h6>
                                                    </div>
                                                    <div class="lgt-box-main">
                                                        <table class="lgt-tbl" ng-show="status_c">
                                                            <tr>
                                                                <th class="lgt-td-key">Item ID :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Order_Item_ID}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">UUID :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.UUID}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Accession No. :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Acct_No}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Recoreded Title :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Record_Title}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Format :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Format}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="item.Format == 'MP3' || item.Format == 'MP4' || item.Format == 'MxF'">
                                                                <th class="lgt-td-key">Select Duration :</th>
                                                                <td class="lgt-td-value">
                                                                    <span class="normal text-muted">
                                                                        50m 00s ( Start: 00:00:00
                                                                        , End: 00:00:00
                                                                        )
                                                                    </span>
                                                                </td>
                                                            <tr>
                                                                <th class="lgt-td-key">First & Last Word :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.First_Words}}, {{item.Last_Words}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Result :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>"This is", "E"</span>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                        <table class="lgt-tbl" ng-show="status_s">
                                                            <tr>
                                                                <th class="lgt-td-key">Name of School :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Name_Of_School}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Year Of Study From :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Year_Of_Study_From}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Year Of Study To :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Year_Of_Study_To}}</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <table class="lgt-tbl" ng-show="status_m">
                                                            <tr>
                                                                <th class="lgt-td-key">Name Of Husband :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Name_Of_Husband}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Name Of Wife :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Name_Of_Wife}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Date Of Marriage From :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Date_Of_Marriage_From | date:'dd/MM/yyyy'}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="lgt-td-key">Date Of Marriage To :</th>
                                                                <td class="lgt-td-value">
                                                                    <span>{{item.Date_Of_Marriage_To | date:'dd/MM/yyyy'}}</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hv-deliver-body-content content-mail" ng-if="deliveryformData.option_value == 5">
            <div class="row">
                <div class="col-md-8">
                    <p>Dear Peter Tan</p>
                    <p>Thank you for your submitting your resquest via the e-Resquest website.</p>
                    <p>Below are the details of your resquest</p>
                    <p>{Insert details of their resquest}</p>
                    <p>We are processing your resquest. We will need updated within 3 to 5 working days on the status of the resquest. Please note that some records may take additional time for clearance and we will update accordingly on the processes and estimated watting time.</p>
                    <p>For further enquiries, please email us at nas@nlb.gov.sg and cite the Resquest ID.</p>
                    <p>Regards,</p>
                    <p>Archives Reading Room</p>
                    <p>National Archives of Singapore</p>
                </div>
                <div class="col-md-4">
                    <div class="block-right">
                        <btn-edit><div class="lgt-btn-edit d-inline-block"><i class="icon-pencil"></i></div> </btn-edit> <span class="edit-content">Edit Content</span>
                    </div>
                </div>
            </div>
        </div>

    <div id="successModal" class="modal successModal">
        <!-- Modal content -->
        <div class="modal-content">

            <!--<div class="modal-header">
                <span data-dismiss="modal" class="close">&times;</span>
                <h3>Successfully</h3>
            </div>-->
            <div class="modal-body">
                Delivery Generated Successfully!
            </div>
            <div class="modal-footer">
                <div class="row flexbox fe-footer-row">
                    <a data-dismiss="modal" class="btn cancel-btn">Okay</a>

                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>