<style>

    #generateInvoice, #generateDelivery {
        display: none;
    }
</style>
<div class="tab-pane active" id="tab_2">
    <div class="container">
        <div class="row">
            <div class="lgt-box	lgt-box-general-info">
                <div class="lgt-box-header">
                    <div class="order_info_grid">
                        <div class="info_title-box">
                            <h4 class="lgt-box-name">Patron Information</h4>
                        </div>
                        <!--<div class="info_title-box_btn">
                        <button class="box_btn-viewrequest">View Other Request(s)</button>
                        <button class="box_btn-editParticular">Edit Particular</button>
                    </div>-->
                    </div>
                    <div class="lgt-box-main">
                      
                        <table class="lgt-tbl">
                            <tr class="Request_ID">
                                <th class="lgt-td-key">{{getLabel('Request_ID')}} :</th>
                                <td class="lgt-td-value">
                                    <span>{{order.OrderCode}}</span>
                                    <div class="lgt-btn-open-requestor-view d-inline-block">
                                        <!--<button class="btn btn-primary">Open Requestor's View</button>-->
                                    </div>
                                </td>
                            </tr>
                            <tr class="Requestor_Name">
                                <th class="lgt-td-key">{{getLabel('Requestor_Name')}} :</th>
                                <td class="lgt-td-value">
                                    <span>{{order.Requestor.Name}}</span>

                                </td>
                            </tr>
                            <tr class="Requestor_Email">
                                <th class="lgt-td-key">{{getLabel('Requestor_Email')}} :</th>
                                <td class="lgt-td-value">
                                    <span>{{order.Requestor.Email}}</span>

                                </td>
                            </tr>
                            <tr class="Mobile_No">
                                <th class="lgt-td-key">{{getLabel('Mobile_No')}} :</th>
                                <td class="lgt-td-value">
                                    <span>{{order.Requestor.Mobile}}</span>

                                </td>
                            </tr>
                            <tr>
                                <th class="lgt-td-key"></th>
                                <td class="lgt-td-value">
                                    <button ng-show="isSuperAdmin" ng-click="viewData()" class="btn btn-primary">View Data</button>

                                </td>
                            </tr>
                        </table>
                        <div id="unmaskDetailsModal" class="modal unmaskDetailsModal">
                            <!-- Modal content -->
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span data-dismiss="modal" class="close">&times;</span>
                                        <h3>Requestor Details</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form ng-show="!showRequestorInfo">
                                            <label>Please provide a reason to view the info:</label>
                                            <textarea class="form-control" ng-model="requestReason"></textarea>
                                           <button class="btn btn-primary mt-1" ng-click="request_reason(requestReason)">Confirm</button>
                                           <span ng-show="errorReason" class="text-red"> {{errorReason}}</span>
                                        </form>
                                        <table ng-show="showRequestorInfo">
                                            <tr>
                                                <th>Requestor Name</th>
                                                <td class="pl-2 pr-2">:</td>
                                                <td>{{unmaskData.Name}}</td>

                                            </tr>
                                            <tr>
                                                <th>Requestor Email</th>
                                                <td class="pl-2 pr-2">:</td>
                                                <td>{{unmaskData.Email}}</td>

                                            </tr>
                                            <tr>
                                                <th>Mobile No.</th>
                                                <td class="pl-2 pr-2">:</td>
                                                <td>{{unmaskData.Mobile}}</td>

                                            </tr>
                                        </table>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="text-left full-width">
                                            <span class="text-left" ng-if="showRequestorInfo">Close in <b>{{maskCount}}</b> sec</span>
                                        </div>
                                        <div class="row flexbox fe-footer-row">
                                            <a data-dismiss="modal" class="btn btn-secondary">Close</a>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="lgt-box	lgt-box-request-info" ng-if="order.Nationality || order.OrderRemarks">
                <div class="lgt-box-header">
                    <h4 class="lgt-box-name">Request Information</h4>
                </div>
                <div class="lgt-box-main">
                    <table class="lgt-tbl">
                        <tr class="Nationality" ng-if="order.Nationality">
                            <th class="lgt-td-key">{{getLabel('Nationality')}} :</th>
                            <td class="lgt-td-value">{{order.Nationality}}</td>
                        </tr>
                        <tr class="Type_of_Use" ng-if="order.UserTypeDescription">
                            <th class="lgt-td-key">{{getLabel('Type_of_Use')}} :</th>
                            <td class="lgt-td-value">{{order.UserTypeDescription}}</td>
                        </tr>
                        <tr class="Organization_Name" ng-if="order.OrganisationName">
                            <th class="lgt-td-key">{{getLabel('Organization_Name')}} :</th>
                            <td class="lgt-td-value">{{order.OrganisationName}}</td>
                        </tr>
                        <!--
                        <tr class="UEN">
                            <th class="lgt-td-key">{{getLabel('UEN')}} :</th>
                            <td class="lgt-td-value"></td>
                        </tr>-->
                        <tr class="Context_of_Use" ng-if="order.COUDescription">
                            <th class="lgt-td-key">{{getLabel('Context_of_Use')}} :</th>
                            <td class="lgt-td-value">{{order.COUDescription}}</td>
                        </tr>
                        <tr class="Research_Topic" ng-if="order.ResearchTopic">
                            <th class="lgt-td-key">{{getLabel('Research_Topic')}} :</th>
                            <td class="lgt-td-value">{{order.ResearchTopic}}</td>
                        </tr>
                         <tr class="Research_Topic" ng-if="order.OrderRemarks">
                             <th class="lgt-td-key">Remarks :</th>
                             <td class="lgt-td-value">{{order.OrderRemarks}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="lgt-box	lgt-box-request-info" ng-if="order.DeliveryOrders.length > 0">
                <div class="lgt-box-header">
                    <h4 class="lgt-box-name">Delivery Information</h4>
                </div>
                <div class="lgt-box-main">
                    <table class="lgt-tbl" ng-repeat="dev in order.DeliveryOrders track by $index">
                        <tbody>
                            <tr class="CreatedDate">
                                <th class="lgt-td-key">Created Date:</th>
                                <td class="lgt-td-value">{{dev.CreatedDate | date : 'd MMM yyyy'}}</td>
                            </tr>
                            <tr class="CreatedBy">
                                <th class="lgt-td-key">Created By:</th>
                                <td class="lgt-td-value">{{dev.CreatedUserId |  date : 'd MMM yyyy'}}</td>
                            </tr>
                            <tr class="LockerNo">
                                <th class="lgt-td-key">Locker No:</th>
                                <td class="lgt-td-value">{{dev.LockerNo}}</td>
                            </tr>
                            <tr class="LockPin">
                                <th class="lgt-td-key">Locker Pin:</th>
                                <td class="lgt-td-value">{{dev.LockPin}}</td>
                            </tr>
                            <tr class="DueDate">
                                <th class="lgt-td-key">Due Date:</th>
                                <td class="lgt-td-value">{{dev.DueDate | date : 'HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <!--ng-repeat="(key,devInfo) in dev.DeliveryInfos"-->
                            <tr>
                                <th class="lgt-td-key">Method Code:</th>
                                <td class="lgt-td-value">{{dev.DeliveryInfos[0].MethodCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order_info_grid">
                <div class="lgt-box	lgt-box-invoice" ng-if="invoiceInfoList.length > 0">
                    <div ng-repeat="(key,inv) in invoiceInfoList">
                        <div class="lgt-box-header">
                            <h4 class="lgt-box-name">Invoices {{key + 1}}</h4>
                        </div>
                        <div class="lgt-box-main">
                            <table class="lgt-tbl">
                                <tr>
                                    <th class="lgt-td-key text-bold">Invoice Code:</th>
                                    <td class="lgt-td-value text-bold"><span>{{inv.invoices.InvoiceCode}}</span></td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key">Due Date:</th>
                                    <td class="lgt-td-value">
                                        <span>{{inv.invoices.DueDate | date: 'd MMM yyyy'}}</span>
                                        <span class="text-danger" ng-if="inv.invoices.IsExpired"> (EXPIRED)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key">Is Paid:</th>
                                    <td class="lgt-td-value"><span>{{inv.invoices.IsPaid ? "Yes" : "No"}}</span></td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key">Created By:</th>
                                    <td class="lgt-td-value"><span>{{inv.invoices.CreatedUserId}}</span></td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key">Created Date:</th>
                                    <td class="lgt-td-value"><span>{{inv.invoices.CreatedDate | date: 'd MMM yyyy HH:mm:ss'}}</span></td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key"></th>
                                    <td class="lgt-td-value">
                                        <button class="btn btn-primary" ng-click="openInvoice(key)">Show Info</button>

                                    </td>
                                </tr>
                            </table>
                            <div class="modal InvoiceModal InvoiceModal{{key}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content taxInvoiceModalContent">
                                        <div class="modal-header">
                                            <button type="button" class="btn btn-default close" ng-click="cancelInvoiceInfo()">&times;</button>
                                            <h4 class="modal-title">Invoice {{key + 1}}</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="box-shadow">
                                                <div class="tax_invoice" id="tax_invoice{{key}}" style="border:1px solid #ddd; padding:10px;">

                                                    <h5>{{inv.invoiceInfo.NasTitle | uppercase}}</h5>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {{inv.invoiceInfo.Address[0]}}<br />
                                                            {{inv.invoiceInfo.Address[1]}}<br />
                                                            {{inv.invoiceInfo.Address[2]}}<br /><br />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">GST Registration:</label>
                                                                <div class="col-sm-7">
                                                                    {{inv.invoiceInfo.GSTNo}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">Invoice No.:</label>
                                                                <div class="col-sm-7">
                                                                    {{inv.invoiceInfo.InvoiceCode}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">Invoice Due Date:</label>
                                                                <div class="col-sm-7">
                                                                    {{inv.invoiceInfo.DueDate | date:'dd/MM/yyyy'}}
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">Payment Status:</label>
                                                                <div class="col-sm-7">
                                                                    {{inv.invoiceInfo.PaymentStatus}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                    </div>
                                                    <br />
                                                    <table class="table table-bordered table-striped tax_invoice_table">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th style="width:60%">Description</th>
                                                                <th>Qty</th>
                                                                <th>Unit Price ($)</th>
                                                                <!--<th>Sub-total ($)</th>-->
                                                                <!--<th>Discount</th>-->
                                                                <th>Total ($)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="(key,payitem) in inv.invoiceInfo.TaxInvoiceItems">
                                                                <td>{{key + 1}}</td>
                                                                <td>
                                                                    <p><b>{{payitem.Description}}</b></p>
                                                                    <p>{{payitem.SourceTitle}}</p>
                                                                    <p> Accession No: {{payitem.SourceNo}}</p>
                                                                    <p> Format: {{payitem.Format}}</p>

                                                                </td>
                                                                <td>1</td>
                                                                <td>{{payitem.ActualItemAmount}}</td>
                                                                <!--<td>{{payitem.ActualItemAmount}}</td>-->
                                                                <!--<td>-</td>-->
                                                                <td>{{payitem.ActualItemAmount}}</td>
                                                            </tr>

                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td class="taxInvoiceSpaceCol" colspan="2"></td>
                                                                <td colspan="2">Total before GST (SGD)</td>
                                                                <td>
                                                                    {{inv.invoiceInfo.SubTotalAmount | number : 2}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="taxInvoiceSpaceCol" colspan="2"></td>
                                                                <td colspan="2">GST @ 7%</td>
                                                                <td>
                                                                    {{inv.invoiceInfo.GSTAmount | number : 2}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="taxInvoiceSpaceCol" colspan="2"></td>
                                                                <td colspan="2" class="text-bold">Total after GST (SGD)</td>
                                                                <td>
                                                                    {{inv.invoiceInfo.TotalAmount | number : 2}}
                                                                </td>
                                                            </tr>

                                                        </tfoot>
                                                    </table>

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="lgt-box	lgt-box-payment-method" ng-show="paymentInfoList.length > 0">
                    <div class="lgt-box-header">
                        <h4 class="lgt-box-name">Tax Invoice</h4>
                    </div>
                    <div class="lgt-box-main">
                        <div ng-repeat="(key,paidinfo) in paymentInfoList">
                            <table class="lgt-tbl">

                                <tr class="paymentMethod">
                                    <th class="lgt-td-key text-bold">Tax Invoice No.:</th>
                                    <td class="lgt-td-value text-bold">
                                        <span>{{paidinfo.TaxInvoiceNo}}</span>
                                    </td>
                                </tr>
                                <tr class="paymentMethod">
                                    <th class="lgt-td-key">Payment Gateway:</th>
                                    <td class="lgt-td-value">
                                        <span>{{paidinfo.PaymentGateway}}</span>
                                    </td>
                                </tr>
                                <tr class="paymentMethod">
                                    <th class="lgt-td-key">Total Amount:</th>
                                    <td class="lgt-td-value">
                                        <span>{{paidinfo.PaymentTotalAmount}}</span>
                                    </td>
                                </tr>
                                <tr class="paymentMethod">
                                    <th class="lgt-td-key">Transaction Date:</th>
                                    <td class="lgt-td-value">
                                        <span>{{paidinfo.TransactionDate | date:'dd/MM/yyyy'}}</span>
                                    </td>
                                </tr>
                                <tr class="paymentMethod">
                                    <th class="lgt-td-key"></th>
                                    <td class="lgt-td-value">
                                        <!---->
                                        <button type="button" class="btn btn-primary" ng-click="printTaxInvoice(key)">Print Tax Invoice</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="modal taxInvoiceModal taxInvoiceModal{{key}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content taxInvoiceModalContent">
                                        <div class="modal-body">
                                            <div class="address_form">
                                                <h4>Customer Contact</h4>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <input type="text" ng-model="tax_name" class="form-control" placeholder="Name" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <input type="text" ng-model="address_1" class="form-control" placeholder="Address 1" />
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <div class="col-sm-12">
                                                        <input type="text" ng-model="address_2" class="form-control" placeholder="Address 2" />
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <div class="col-sm-12">
                                                        <input type="text" ng-model="address_3" class="form-control" placeholder="Address 3" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                                <a class="btn btn-primary" ui-sref="taxInvoices({ 'id': $scope.id, 'code2': $stateParams.code2 })" ng-click="printTaxInvoiceForm(tax_name,address_1,address_2,address_3)">Print</a>
                                                            </div>
                                                            <div class="btn-group mr-2" role="group" aria-label="Second group">

                                                                <button ng-click="cancelPrintTaxInvoice()" class="btn btn-danger">Cancel</button>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                            <div class="box-shadow">
                                                <div class="body_tax_invoice" id="body_tax_invoice{{key}}" style="border:1px solid #ddd; padding:10px;">

                                                    <h3>Tax Invoice</h3>
                                                    <h5>{{paidinfo.taxData.NasTitle | uppercase}}</h5>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {{paidinfo.taxData.Address[0]}}<br />
                                                            {{paidinfo.taxData.Address[1]}}<br />
                                                            {{paidinfo.taxData.Address[2]}}<br /><br />
                                                            <b>{{tax_name}}</b><br />
                                                            {{address_1}}<br />
                                                            {{address_2}}<br />
                                                            {{address_3}}

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">GST Registration:</label>
                                                                <div class="col-sm-7">
                                                                    {{paidinfo.taxData.GSTNo}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">Tax Invoice No.:</label>
                                                                <div class="col-sm-7">
                                                                    {{paidinfo.taxData.TaxInvoiceNo}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">Payment Date:</label>
                                                                <div class="col-sm-7">
                                                                    {{paidinfo.taxData.TransactionDate | date:'dd/MM/yyyy'}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">Payment Method:</label>
                                                                <div class="col-sm-7">
                                                                    {{paidinfo.taxData.PaymentMethod}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="status_id" class="col-sm-5">Transaction ID:</label>
                                                                <div class="col-sm-7">
                                                                    {{paidinfo.PaymentId}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                    </div>
                                                    <br />
                                                    <table class="table table-bordered table-striped tax_invoice_table">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th style="width:60%">Description</th>
                                                                <th>Qty</th>
                                                                <th>Unit Price ($)</th>
                                                                <!--<th>Sub-total ($)</th>-->
                                                                <!--<th>Discount</th>-->
                                                                <th>Total ($)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="(key,payitem) in paidinfo.taxData.TaxInvoiceItems">
                                                                <td>{{key + 1}}</td>
                                                                <td>
                                                                    <p><b>{{order.OrderCode}} : {{payitem.Description}}</b></p>
                                                                    <p>{{payitem.SourceTitle}}</p>
                                                                    <p> Accession No: {{payitem.SourceNo}}</p>
                                                                    <p> Format: {{payitem.Format}}</p>

                                                                </td>
                                                                <td>1</td>
                                                                <td>{{payitem.ActualItemAmount}}</td>
                                                                <!--<td>{{payitem.ActualItemAmount}}</td>-->
                                                                <!--<td>-</td>-->
                                                                <td>{{payitem.ActualItemAmount}}</td>
                                                            </tr>


                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td class="taxInvoiceSpaceCol" colspan="2"></td>
                                                                <td colspan="2">Total before GST (SGD)</td>
                                                                <td>
                                                                    {{paidinfo.taxData.SubTotalAmount | number : 2}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="taxInvoiceSpaceCol" colspan="2"></td>
                                                                <td colspan="2">GST @ 7%</td>
                                                                <td>
                                                                    {{paidinfo.taxData.GSTAmount | number : 2}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="taxInvoiceSpaceCol" colspan="2"></td>
                                                                <td colspan="2" class="text-bold">Total after GST (SGD)</td>
                                                                <td>
                                                                    {{paidinfo.taxData.TotalAmount | number : 2}}
                                                                </td>
                                                            </tr>

                                                        </tfoot>
                                                    </table>
                                                    This is a computer-generated printout. No signature is required.
                                                    <!--The orignal copy is printed on dd-mmm-yyyy-->
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="lgt-box	lgt-box-routing" id="lgt-box-routing">
                <div class="lgt-box-header">
                    <h4 class="lgt-box-name">Routing</h4>
                </div>
                <div class="lgt-box-main">
                    <form ng-model="routeConfig" ng-submit="routeSend()">
                        <table class="lgt-tbl">
                            <tr class="routing">
                                <th class="lgt-td-key">{{getLabel('routing')}} :</th>
                                <td class="lgt-td-value">
                                    <select ng-model="routeConfig.CategoryRouteCode" class="form-control">
                                        <option ng-repeat="category in categories" value="{{category.CategoryCode}}">{{category.Description}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td class="text-left">
                                    <button type="button" ng-click="routeChange()" class="lgt-btn-send lgt-btn btn btn-lg btn-primary">Send</button>
                                    <div id="routingSuccessModal" class="modal successModal">
                                        <!-- Modal content -->
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <span data-dismiss="modal" class="close">&times;</span>
                                                <h3>Confirmation</h3>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to change routing?
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row flexbox fe-footer-row">
                                                    <input type="submit" class="btn btn-primary" value="Confirm">
                                                    <a data-dismiss="modal" class="btn cancel-btn">Cancel</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- /.tab-pane -->
