﻿<div class="container" style="background-color:white">
    <div ng-repeat="(key,paidinfo) in paymentInfoList">
        <div class="body_tax_invoice" id="body_tax_invoice{{key}}" style="border:1px solid #ddd; padding:10px;">

            <div class="row">
                <div class="col-md-6" style="padding-left:20px;">
                    <h3>Tax Invoice</h3>
                    <h5>{{paidinfo.taxData.NasTitle | uppercase}}</h5>
                    <!-- {{paidinfo.taxData.NasAddress1}}<br />
                    {{paidinfo.taxData.NasAddress2}}<br />
                    {{paidinfo.taxData.NasAddress3}}<br /><br /> -->
                    {{paidinfo.taxData.Address[0]}}<br />
                    {{paidinfo.taxData.Address[1]}}<br />
                    {{paidinfo.taxData.Address[2]}}<br /><br />
                    <b>{{tax_name}}</b><br />
                    {{address_1}}<br />
                    {{address_2}}<br />
                    {{address_3}}

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="status_id" class="col-sm-5">GST Registration:</label>
                        <div class="col-sm-7">
                            {{paidinfo.taxData.GSTNo}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status_id" class="col-sm-5">Invoice No.:</label>
                        <div class="col-sm-7">
                            {{paidinfo.taxData.TaxInvoiceNo}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status_id" class="col-sm-5">Invoice Date:</label>
                        <div class="col-sm-7">
                            {{paidinfo.taxData.TransactionDate | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status_id" class="col-sm-5">Payment Date:</label>
                        <div class="col-sm-7">
                            {{paidinfo.taxData.TransactionDate | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status_id" class="col-sm-5">Payment Method:</label>
                        <div class="col-sm-7">
                            {{paidinfo.taxData.PaymentMethod}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

            </div>
            <br />
            <table class="table table-bordered table-striped tax_invoice_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width:60%">Description</th>
                        <th>Qty</th>
                        <th>Unit Price ($)</th>
                        <!--<th>Sub-total ($)</th>-->
                        <!--<th>Discount</th>-->
                        <th>Total ($)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,payitem) in paidinfo.taxData.TaxInvoiceItems">
                        <td>{{key + 1}}</td>
                        <td>
                            <p><b>{{payitem.Description}}</b></p>
                            <p>{{payitem.SourceTitle}}</p>
                            <p> Accession No: {{payitem.SourceNo}}</p>
                            <p> Format: {{payitem.Format}}</p>

                        </td>
                        <td>1</td>
                        <td>{{payitem.ActualItemAmount}}</td>

                        <!--<td>{{payitem.ActualItemAmount}}</td>-->
                        <!--<td>-</td>-->
                        <td>{{payitem.ActualItemAmount}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="taxInvoiceSpaceCol" colspan="2"></td>
                        <td colspan="2">Total before GST (SGD)</td>
                        <td>
                            {{paidinfo.taxData.SubTotalAmount | number : 2}}
                        </td>
                    </tr>
                    <tr>
                        <td class="taxInvoiceSpaceCol" colspan="2"></td>
                        <td colspan="2">GST @ 7%</td>
                        <td>
                            {{paidinfo.taxData.GSTAmount | number : 2}}
                        </td>
                    </tr>
                    <tr>
                        <td class="taxInvoiceSpaceCol" colspan="2"></td>
                        <td colspan="2" class="text-bold">Total after GST (SGD)</td>
                        <td>
                            {{paidinfo.taxData.TotalAmount | number : 2}}
                        </td>
                    </tr>

                </tfoot>
            </table>
            This is a computer-generated printout. No signature is required.
            <!--The orignal copy is printed on dd-mmm-yyyy-->
        </div>
    </div>
</div>
