<style>
    .lgt-page-header,
    .nav-tabs, #generateInvoice, #generateDelivery, .productGroupCode {
        display: none;
    }

    .nav-tabs-custom > .tab-content {
        background: #eee;
        border: navajowhite;
    }
</style>
<div class="hv-deliver-page">

    <div class="lgt-left-part">
        <h3 class="lgt-page-name" ng-cloak>{{getLoc == 'ProductDetails' ? 'Generate' : 'Update'}} Delivery Order</h3>
    </div>
    <div class="lgt-back">
        <a  ui-sref="{{getLoc == 'ProductDetails' ? 'app.orders.order.product' : 'app.orders.delivery.list'}}">
            <i class="fa fa-arrow-circle-left"></i> back to Order Detail
        </a>
    </div>
    <div class="hv-deliver-body">
        <form class="form-horizontal group-border-dashed" ng-submit="deliveryFormSubmit($event)">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="deliver-table-left col-sm-7">
                            <table class="lgt-tbl">
                                <tr ng-if="getLoc == 'deliveryList' && getInternalDescription(itemslist)" >
                                    <th class="lgt-td-key">Status :</th>
                                    <td class="lgt-td-value">

                                         <div class="d-inline-block">
                                            {{getInternalDescription(itemslist)}} &nbsp;
                                        </div>
                                        <div class="d-inline-block">
                                             <button ng-cloak type="button" class="btn btn-primary btn_item_details_changeStatus" ng-show="getInternalDescription(itemslist) != 'Completed'" ng-click="statusChangeModal()"><i><img style="width:25px" src="img/Enter.png" /></i> <b>Next Status</b> : Completed</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key">Delivery Option : </th>
                                    <td class="lgt-td-value">
                                        <div class="btn-group">
                                            <button class="btn lgt-btn lgt-btn-drpdown dropdown-toggle" data-toggle="dropdown">
                                                <span ng-repeat="(key, method) in DeliveryMethods | orderBy:'Description'" class="ng-binding" ng-if="method.DelMethodCode == formData.MethodCode">{{method.Description}}</span>
                                            </button>
                                           <!--  <button class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" type="button"  aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button> -->
                                            <input type="text" ng-model="formData.MethodCode" ng-value="formData.MethodCode" hidden />
                                            <div class="dropdown-menu" x-placement="bottom-start">
                                                <a ng-repeat="(key, method) in DeliveryMethods | orderBy:'Description'" class="dropdown-item cursor_pointer" ng-click="formData.MethodCode = method.DelMethodCode">{{method.Description}}</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key">Requestor Name :</th>
                                    <td class="lgt-td-value">
                                        {{rqstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key">Requestor Mobile :</th>
                                    <td class="lgt-td-value">
                                        {{rqstMobile}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="lgt-td-key">Requestor Email :</th>
                                    <td class="lgt-td-value">
                                        {{rqstEmail}}
                                    </td>
                                </tr>
                                <tr ng-show="getLoc != 'ProductDetails'">
                                    <th class="lgt-td-key align-text-top" style="line-height:20px">Comment for Internal Use :</th>
                                    <td class="lgt-td-value">
                                        <textarea class="w-75" ng-model="formData.InternalComments"> </textarea>
                                    </td>
                                </tr>
                            </table>
                            <table class="lgt-tbl">
                                <!--<tr ng-if="formData.MethodCode == null">
                                    <th class="lgt-td-key">Remarks:</th>
                                    <td class="lgt-td-value">
                                        <input type="text" value="" class="hv-form-input"  placeholder="Enter text">
                                    </td>
                                </tr>-->
                                <tr ng-if="formData.MethodCode == 'LOCK-HQ'">
                                    <th class="lgt-td-key">Locker No.:</th>
                                    <td class="lgt-td-value">
                                        <input type="text" class="hv-form-input" placeholder="Enter text" ng-model="formData.locker_no">
                                    </td>
                                </tr>
                                <tr ng-if="formData.MethodCode == 'LOCK-HQ'">
                                    <th class="lgt-td-key">Pin No.:</th>
                                    <td class="lgt-td-value">
                                        <input type="text" class="hv-form-input" placeholder="Enter text" ng-model="formData.pin_no">
                                    </td>
                                </tr>
                                <!-- <tr ng-if="formData.MethodCode == 'STAFF'">
                                    <th class="lgt-td-key">Staff Name:</th>
                                    <td class="lgt-td-value">
                                        <input type="text" class="hv-form-input" placeholder="Enter text" ng-model="formData.StaffName">
                                    </td>
                                </tr>
                                <tr ng-if="formData.MethodCode == 'STAFF'">
                                    <th class="lgt-td-key">Collection Point:</th>
                                    <td class="lgt-td-value">
                                        <input type="text" class="hv-form-input" placeholder="Enter text" ng-model="formData.CollectionPoint">
                                    </td>
                                </tr> -->
                                <tr ng-if="formData.MethodCode == 'POSTAL'">
                                    <th class="lgt-td-key">Tracking no.:</th>
                                    <td class="lgt-td-value">
                                        <input type="text" value="" class="hv-form-input" placeholder="Enter text" ng-model="formData.tracking_no">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="search-table-right col-sm-5">
                            <div class="form-group" ng-if="formData.MethodCode != 'EMAIL'">
                                <label class="col-sm-5 text-left control-label"><b>Valid Date</b></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="{{ curr_date | date:'dd-MM-yyyy'}}" disabled />
                                </div>
                            </div>
                            <div class="form-group" ng-if="formData.MethodCode != 'EMAIL'">
                                <label class="col-sm-5 text-left control-label"><b>Valid Until:</b></label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" ng-model="formData.valid_until" />

                                    <span>
                                        <i>default is 60 days</i>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="itemslist.length > 0 && getLoc != 'ProductDetails'" ng-repeat="payment_info in itemslist">
                                <div class="form-group my-2" ng-show="payment_info.PaymentStatus">
                                    <label class="col-sm-5 text-left control-label"><b>Payment Status:</b></label>
                                    <div class="col-sm-7">
                                        {{payment_info.PaymentStatus}}
                                    </div>
                               </div>
                                <div class="form-group my-2" ng-show="payment_info.PaymentId">
                                     <label class="col-sm-5 text-left control-label"><b>Payment ID:</b></label>
                                    <div class="col-sm-7">
                                       {{payment_info.PaymentId}}
                                    </div>
                                </div>
                                <div class="form-group my-2" ng-show="payment_info.PaymentMode">
                                     <label class="col-sm-5 text-left control-label"><b>Payment Method:</b></label>
                                    <div class="col-sm-7">
                                       {{payment_info.PaymentMode}}
                                    </div>
                                </div>
                               <div class="form-group my-2" ng-show="payment_info.PaymentDate">
                                     <label class="col-sm-5 text-left control-label"><b>Payment Date:</b></label>
                                    <div class="col-sm-7">
                                       {{payment_info.PaymentDate | date:'dd-MM-yyyy'}}
                                    </div>
                                </div>
                                
                            </div>
                        
                            <div class="form-group" ng-if="formData.MethodCode == 'EMAIL'">
                                <label class="col-sm-5 text-right control-label"><b>Send Date:</b></label>
                                <div class="col-sm-7">
                                    <!--<label class="text-left control-label ">18-Nov-18</label>-->
                                    <input type="text" class="form-control" value="{{todayDate | date:'dd-MM-yyyy'}}" disabled />
                                </div>
                            </div>
                            <div class="form-group" ng-show="formData.MethodCode == 'EMAIL' && getLoc == 'ProductDetails'">

                                <label class="col-sm-5 text-right control-label"><b>Files:</b></label>
                                <div class="col-sm-7" id="file_upload_section">
                                    <label for="fileDeliver" class="form-control custom-btn">
                                        Upload File
                                        <input id="fileDeliver" type="file" name="fileDeliver" ng-model="formData.file_deliver" accept=".jpg, .jpeg, .png, .docx, .doc, .pdf, .xlsx, .xls, .csv, .mp3, .mp4, .mxf" hidden />
                                    </label>
                                    <div id="fileList">
                                        <span class="color-red">Please upload an attachment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hv-deliver-btn">

                        <!--Original Class : hv-deliver-button-->
                        <a class="btn btn-default btCancel" ng-if="getLoc == 'ProductDetails'" ui-sref="{{getLoc == 'ProductDetails' ? 'app.orders.order.product' : 'app.orders.delivery.list'}}"> Cancel</a>
                        <a class="btn btn-default btCancel" ng-if="getLoc != 'ProductDetails' && status_c" ui-sref="{{getLoc == 'ProductDetails' ? 'app.orders.order.product' : 'app.orders.delivery.list'}}"> Cancel</a>
                        <!--<button type="submit" class="btn btn-primary btSave">Generate</button>-->
                        <input type="button" ng-if="getLoc == 'ProductDetails'" value="{{getLoc == 'ProductDetails' ? 'Generate' : 'Update'}}" ng-click="deliveryConfirmModal()" class="btn btn-primary btSave" />
                        <input type="button" ng-if="getLoc != 'ProductDetails' && status_c" value="{{getLoc == 'ProductDetails' ? 'Generate' : 'Update'}}" ng-click="UpdateDelivery()" class="btn btn-primary btSave" />
                    </div>

                </div>
                <hr />
                <div id="successModal" class="modal successModal">
                    <!-- Modal content -->
                    <div class="modal-content">

                        <div class="modal-header">
                            <span data-dismiss="modal" class="close">&times;</span>
                            <h3>Confirmation</h3>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to generate delivery?
                        </div>
                        <div class="modal-footer">
                            <div class="row flexbox fe-footer-row">
                                <input type="submit" ng-if="status_c" class="btn btn-primary" value="Confirm">
                                <button type="button" ng-if="!status_c" class="btn btn-primary" id="generateMandS" ng-disabled="isFileUploaded">
                                    <span ng-show="!loading">confirm</span>
                                    <i ng-show="loading" class="fa fa-spin fa-spinner"></i>
                                </button>
                                <a data-dismiss="modal" class="btn cancel-btn">Cancel</a>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="item-repeat">
                        <div class="item-repeat" ng-repeat="item in itemslist">
                            <div class="hv-deliver-body-content">
                                <div class="header collapsed" id="heading-{{$index}}" data-toggle="collapse"
                                     data-target="#quotation-{{$index}}" aria-expanded="false" aria-controls="lgt-search-filter-main">
                                    Item: {{item.ItemCode}}
                                </div>
                                <div id="quotation-{{$index}}" class="collapse show" aria-labelledby="heading-{{$index}}" data-parent="#accordionExample">
                                    <div>
                                        <div>
                                            <div class="block-compilation">
                                                <div class="block-compilation-content">
                                                    <div class="block-item-detail" style="width:100% !important;">
                                                        <div class="card-body">
                                                            <div class="hv-box-item-detail">
                                                                <div class="lgt-box-header">
                                                                    <h6 class="lgt-box-name">ITEM DETAIL</h6>
                                                                </div>
                                                                <div class="lgt-box-main">
                                                                    <div ng-show="status_c || status_p">
                                                                        <table class="lgt-tbl">
                                                                            <tr>
                                                                                <th class="lgt-td-key">Item ID :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.OrderItemId}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="lgt-td-key">UUID :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.SourceId}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="lgt-td-key">Accession No. :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.SourceNo}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="lgt-td-key">Record Title :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.SourceTitle}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="item.Format">
                                                                                <th class="lgt-td-key">Format :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.Format}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="item.TotalPages && item.Format == 'PDF'">
                                                                                <th class="lgt-td-key">Total Pages :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.TotalPages}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="item.SelectedPages && item.Format == 'PDF'">
                                                                                <th class="lgt-td-key">Selected Pages :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.SelectedPages}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="item.ActualPages && item.Format == 'PDF'">
                                                                                <th class="lgt-td-key">Final Chargeable (Pages):</th>
                                                                                <td class="lgt-td-value">
                                                                                    <input type="text" ng-model="item.ActualPages" />
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="item.ActualDuration && (item.Format == 'MP3' || item.Format == 'MP4' || item.Format == 'MXF') && item.FullOrPartial == 'Partial'">
                                                                                <th class="lgt-td-key">Select Duration :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span class="normal text-muted">
                                                                                        {{item.ActualDuration}} seconds ( Start: {{item.ActualStartTime | secondsToDateTime | date : 'HH:mm:ss'}}
                                                                                        , End: {{item.ActualEndTime | secondsToDateTime | date : 'HH:mm:ss'}}
                                                                                        )
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="item.ActualFirstWords || item.ActualLastWords">
                                                                                <th class="lgt-td-key">First & Last Word :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.ActualFirstWords}}, {{item.ActualLastWords}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr ng-if="item.AccessCondition">
                                                                                <th class="lgt-td-key">Access Condition :</th>
                                                                                <td class="lgt-td-value">
                                                                                    <span>{{item.AccessCondition}}</span>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                        <table id="file_edit_table" class="file_edit_table table table-striped" ng-if="item.Attachments != ''">
                                                                            <thead>
                                                                                <tr>
                                                                                    <td>No.</td>
                                                                                    <td>File Name</td>
                                                                                    <td>File UUID</td>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="(key, fal) in item.Attachments" ng-class="{'has-problem': hasProblem(fal.Id)}" ng-if="fal.IsActive">
                                                                                    <td>{{('' + (key + 1)).substr(-3)}}</td>
                                                                                    <td>{{fal.FileName}}</td>
                                                                                    <td>{{fal.FileUUID}}</td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <table class="lgt-tbl" ng-show="status_s">
                                                                        <tr>
                                                                            <th class="lgt-td-key">Name of School :</th>
                                                                            <td class="lgt-td-value">
                                                                                <span>{{item.SchoolName}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="lgt-td-key">Year Of Study From :</th>
                                                                            <td class="lgt-td-value">
                                                                                <span>{{item.SearchFromYear}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="lgt-td-key">Year Of Study To :</th>
                                                                            <td class="lgt-td-value">
                                                                                <span>{{item.SearchToYear}}</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table class="lgt-tbl" ng-show="status_m">
                                                                        <tr>
                                                                            <th class="lgt-td-key">Name Of Husband :</th>
                                                                            <td class="lgt-td-value">
                                                                                <span>{{item.HusbandName}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="lgt-td-key">Name Of Wife :</th>
                                                                            <td class="lgt-td-value">
                                                                                <span>{{item.WifeName}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="lgt-td-key">Date Of Marriage From :</th>
                                                                            <td class="lgt-td-value">
                                                                                <span>{{item.SearchFromDate | date:'dd-MM-yyyy'}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="lgt-td-key">Date Of Marriage To :</th>
                                                                            <td class="lgt-td-value">
                                                                                <span>{{item.SearchToDate | date:'dd-MM-yyyy'}}</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!--<div class="hv-box-search-result">
                                                                <div class="lgt-box-header">
                                                                    <h6 class="lgt-box-name">SEARCH RESULT</h6>
                                                                </div>
                                                                <div class="lgt-box-main">
                                                                    <table class="lgt-tbl">


                                                                        <tr>
                                                                            <th class="lgt-td-key">Attachment :</th>
                                                                            <td class="lgt-td-value">
                                                                                <span class="upload">-</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>-->
                                                        </div>
                                                    </div>
                                                    <!--<div class="block-payment-detail">
                                                    <div class="card-body">
                                                            <div class="lgt-box-header">
                                                                <span class="lgt-box-name">PAYMENT DETAIL</span>
                                                                <span class="payment-status">(Pending Quatation)</span>
                                                            </div>
                                                            <div class="lgt-box-main">
                                                                <table class="lgt-tbl">
                                                                    <tr>
                                                                        <th class="lgt-td-key">
                                                                            <p>Charges rate :</p>
                                                                            <p>
                                                                                <i class="fa fa-info-circle"></i> per block of 30min</p>
                                                                        </th>
                                                                        <td class="lgt-td-value charge-rate">
                                                                            <span>$</span>
                                                                            <span>{{item.chargesRate}}</span>														</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="lgt-td-key">Complied-item/ Item Cost :</th>
                                                                        <td class="lgt-td-value">
                                                                            <span>$</span>
                                                                            <span>{{item.itemCost}}</span>														</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="lgt-td-key">AA Fee :</th>
                                                                        <td class="lgt-td-value">
                                                                            <span>$</span>
                                                                            <span>{{item.aaFee}}</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="lgt-td-key">GST 7% :</th>
                                                                        <td class="lgt-td-value">
                                                                            <span>$</span>
                                                                            <span ng-bind="item.gts = (item.chargesRate + item.itemCost + item.aaFee) * 0.07">{{(item.chargesRate + item.itemCost + item.aaFee) * 0.07}}</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="lgt-td-key total">Total w/GST (SGD) :</th>
                                                                        <td class="lgt-td-value">
                                                                            <span>$</span>
                                                                            <span>{{item.chargesRate + item.itemCost + item.aaFee + item.gts}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>

                                                        </div>
                                                        </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="hv-deliver-body-content content-mail" ng-if="formData.MethodCode == 'EMAIL' && getLoc == 'ProductDetails'">

                        <div class="row">

                            <div class="angular-text-editor">

                                <h5>Email to Requestor</h5>
                                <div text-angular ng-model="formData.htmlVariable"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

<div id="statusChangeConfirmation" class="modal fileeditmodal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span data-dismiss="modal" class="close">&times;</span>
            <h3>Status change to: 
                <span ng-show="getLoc == 'ProductDetails'">[{{OrderStatus[0].InternalDescription}}]</span>
                <span ng-show="getLoc != 'ProductDetails'">[Complete]</span>
            </h3>
        </div>
        <div class="modal-body">
            Are you sure you want to change the status to <span ng-show="getLoc == 'ProductDetails'">{{OrderStatus[0].InternalDescription}}</span> <span ng-show="getLoc != 'ProductDetails'">Complete</span>
        </div>
        <div class="modal-footer">
            <div class="row flexbox fe-footer-row">
                <a data-dismiss="modal" class="btn cancel-btn">Cancel</a>
                <button type="button" class="btn fe-btn" ng-click="updateStatusClick()">Confirm</button>
            </div>
        </div>

    </div>
</div>